.modelMonitor {
	border: 2px solid blue;
}

.modelMonitor th {
	padding: 5px;
	font-weight: bold;
}

.modelMonitor td {
	vertical-align: top;
}

.modelMonitorInCache {
}

.modelMonitor .modelMonitorRowHover {
	outline-style: solid;
	outline-color: #FF0000;
	outline-width: 2px;
}
