/* Single Sort */

.claro .gridxArrowButtonNode {
	background: transparent url("../images/sprite_icons.png") no-repeat 500px 500px;
	display: none;
	float: right;
	margin: 0px 7px 0 0;
	padding: 0;
	width: 9px;
}
.claro .gridxSortUp .gridxArrowButtonNode {
	display: block;
	background-position: -120px 4px;
}
.claro .gridxSortDown .gridxArrowButtonNode {
	display: block;
	background-position: -100px 4px;
}

.claro .gridxSortSingle {
	display: none;
}

.claro .gridxSortNested {
	display: block;
	margin: 2px 5px;
	float: right;
	font-size: 10px;
}

.claro .gridxHeaderCellOver .gridxArrowButtonNode,
.claro .gridxHeaderCellFocus .gridxArrowButtonNode {
	display: block;
	background-position: -123px -2px;
}

.claro .gridxHeaderCellOver .gridxSortUp .gridxArrowButtonNode,
.claro .gridxHeaderCellFocus .gridxSortUp .gridxArrowButtonNode {
	background-position: -140px 4px;
}

.claro .gridxHeaderCellOver .gridxSortDown .gridxArrowButtonNode,
.claro .gridxHeaderCellFocus .gridxSortDown .gridxArrowButtonNode {
	background-position: -160px 4px;
}

.claro .gridxHeaderCellOver .gridxSortAscendOnly,
.claro .gridxHeaderCellFocus .gridxSortAscendOnly {
	background-position: -93px -2px;
}

.claro .gridxHeaderCellOver .gridxSortDescendOnly,
.claro .gridxHeaderCellFocus .gridxSortDescendOnly {
	background-position: -63px -2px;
}

.claro .gridxHeaderCellOver .gridxSortUp .gridxSortAscendOnly,
.claro .gridxHeaderCellFocus .gridxSortUp .gridxSortAscendOnly {
	background-position: -33px -2px;
}

.claro .gridxHeaderCellOver .gridxSortDown .gridxSortDescendOnly,
.claro .gridxHeaderCellFocus .gridxSortDown .gridxSortDescendOnly {
	background-position: -3px -2px;
}

.claro .gridxArrowButtonFocus {
}
