.dojoxGridxConfig{
	width: 300px;
	height: 530px;
	margin: 10px;
}
.dojoxGridConfigBtns {
	margin: auto;
	padding-bottom: 10px;
}
.dojoxGridxConfig .dijitButton {
	z-index: 9999;
}
.dojoxGridxConfig .dijitSelect{
	margin: 0;
	width: 100%;
	display: inline-table;
}
.dojoxGridxConfig .dijitSelect .dijitArrowButton{
	width: 18px;
}
.dojoxGridxConfig h2 {
	margin: 2px 0 5px 0;
}
.dojoxGridxConfig table{
	border-collapse: collapse;
	width: 100%;
}
.dojoxGridxConfig th{
	padding: 2px;
	font-weight: bolder;
}
.dojoxGridxConfig th, .dojoxGridxConfig td{
	border: 1px solid grey;
	padding-left: 2px;
	padding-right: 2px;
}
.dojoxGridxConfigAllMods {
	font-weight: bold;
	margin-bottom: 3px;
}
