body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 0.5in 2in 0 0.5in;
}
#main { display: none; }
#printBlock { display: block; }

a { color: #000; text-decoration: none; }
div.jsdoc-toolbar {
	display: none;
}

h1.jsdoc-title{ 
	font-size: 2.5em;
	margin: 0;
	font-weight: normal;
}
h1.jsdoc-title img {
	float: left;
	padding-right: 0.25em;
}

div.jsdoc-prototype,
div.jsdoc-mixins,
div.jsdoc-inheritance {
	font-size: 0.8em;
}
div.jsdoc-require,
span.jsdoc-comment-type,
span.jsdoc-return-type {
	font-family: Consolas, Courier New, Courier, monospace;
	font-weight: normal;
}
span.parameters{ font-weight: normal; }
div.jsdoc-require { margin: 1em 0; }
div.jsdoc-full-summary { margin: 1em 0; }
div.jsdoc-children { padding-bottom: 1.5em; }
div.jsdoc-children div.jsdoc-field-list {
	display: none;
}

div.jsdoc-children div.jsdoc-fields h2 {
	font-weight: normal;
	font-size: 1.5em;
	border-bottom: 1px solid #666;
	margin: 1.5em -5px 0.5em -5px;
	padding: 0.25em;
}

div.jsdoc-children div.jsdoc-fields div.jsdoc-field {
	margin: 0;
	clear: both;
	border: 0;
}

div.jsdoc-children div.jsdoc-fields div.jsdoc-field div.jsdoc-title { font-weight: bold; }
div.jsdoc-children div.jsdoc-fields div.jsdoc-field div.jsdoc-title span img {
	float: left;
	padding-right: 4px;
}

div.jsdoc-children div.jsdoc-fields div.jsdoc-field div.jsdoc-summary {
	padding-left: 28px;
	margin: 0.25em 0 1em 0;
}
