.gridxLockedCell {
	position: absolute;
	background-color: #ffffff;
	z-index: 1;
}


.gridxLockedRow {
	z-index: 2;
}

/*Column Lock*/
.gridxColumnLock .gridxRow {
	overflow: hidden;
}

.gridxLockedRow .gridxLockedCell {
	z-index: 2;
}

