/* Pagination RTL */

.gridxRtl .gridxPagerDescriptionTD {
	text-align: right;
}

.gridxRtl .gridxPager .gridxPagerStepperTD,
.gridxRtl .gridxPager .gridxPagerGoto,
.gridxRtl .gridxGotoPage .gridxGotoPageBtns {
	text-align: left;
}
.gridxRtl .gridxPagerFirstPage {
	background-position: -40px 4px;
}
.gridxRtl .gridxPagerFirstPageDisable {
	background-position: -40px -16px;
}

.gridxRtl .gridxPagerPrevPage {
	background-position: -19px 4px;
}
.gridxRtl .gridxPagerPrevPageDisable {
	background-position: -19px -16px;
}

.gridxRtl .gridxPagerNextPage {
	background-position: 1px 4px;
}
.gridxRtl .gridxPagerNextPageDisable {
	background-position: 1px -16px;
}

.gridxRtl .gridxPagerLastPage {
	background-position: -60px 4px;
}
.gridxRtl .gridxPagerLastPageDisable {
	background-position: -60px -16px;
}

/* PaginationBarDD */
.gridxRtl .gridxPagerSizeSwitchDD {
	text-align: left;
}
