/* Pagination RTL */

.dojoxGridxRtl .dojoxGridxPagerDescriptionTD {
	text-align: right;
}

.dojoxGridxRtl .dojoxGridxPager .dojoxGridxPagerStepperTD,
.dojoxGridxRtl .dojoxGridxPager .dojoxGridxPagerGoto,
.dojoxGridxRtl .dojoxGridxGotoPage .dojoxGridxGotoPageBtns {
	text-align: left;
}
.dojoxGridxRtl .dojoxGridxPagerFirstPage {
	background-position: -40px 4px;
}
.dojoxGridxRtl .dojoxGridxPagerFirstPageDisable {
	background-position: -40px -16px;
}

.dojoxGridxRtl .dojoxGridxPagerPrevPage {
	background-position: -19px 4px;
}
.dojoxGridxRtl .dojoxGridxPagerPrevPageDisable {
	background-position: -19px -16px;
}

.dojoxGridxRtl .dojoxGridxPagerNextPage {
	background-position: 1px 4px;
}
.dojoxGridxRtl .dojoxGridxPagerNextPageDisable {
	background-position: 1px -16px;
}

.dojoxGridxRtl .dojoxGridxPagerLastPage {
	background-position: -60px 4px;
}
.dojoxGridxRtl .dojoxGridxPagerLastPageDisable {
	background-position: -60px -16px;
}

/* PaginationBarDD */
.dojoxGridxRtl .dojoxGridxPagerSizeSwitchDD {
	text-align: left;
}
