.dojoxGridxTreeExpandoCell {
	height: 100%;
	position: relative;
}

.dojoxGridxTreeExpandoIcon {
	background-image: url("images/treeExpandImages.png");
	background-repeat:no-repeat;
	background-position: 0 0;
	height: 16px;
	width: 16px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.dojoxGridx .dojoxGridxTreeExpandoLoading .dojoxGridxTreeExpandoIcon{
	background-image: url('images/treeExpand_loading.gif');
	background-position: 0 0;
}

.dojoxGridxTreeExpandoIcon:hover {
	background-position: -18px 0;
}

.dojoxGridxTreeExpandoCellOpen .dojoxGridxTreeExpandoIcon {
	background-position: -36px 0;
}
.dojoxGridxTreeExpandoCellOpen .dojoxGridxTreeExpandoIcon:hover {
	background-position: -54px 0;
}

.dojoxGridxTreeExpandoIconNoChildren {
	visibility: hidden;
}

.dojoxGridxTreeExpandoInner {
	visibility: hidden;
	text-align: center;
}

.dijit_a11y .dojoxGridxTreeExpandoInner {
	visibility: visible;
}
