body { 
    voice-family:male 
}

h1 {
	elevation:90deg;
	pause:80%
}

h2 {
	elevation:70deg;
	pause:80%
}

h3 {
	elevation:50deg;
	pause:80%
}

ul, ol {
	pause:80%;
	voice-family:female
}

ul ul, ol ol, a:visited {
	volume:soft
}

ul ul ul, ol ol ol {
	volume:x-soft
}

abbr {
	speak:spell-out
}
#foot span.redundant {
	speak:none
}