<div class="dojoxGridx" role="grid" tabindex="0">
	<div class="dojoxGridxHeader" role="presentation" dojoAttachPoint="headerNode"></div>
	<div class="dojoxGridxMain" role="presentation" dojoAttachPoint="mainNode">
		<div class="dojoxGridxBody" role="presentation" dojoAttachPoint="bodyNode"></div>
		<div class="dojoxGridxVScroller" dojoAttachPoint="vScrollerNode"><div style="width:1px; height: 1px;"></div></div>
		<div class="clear"></div>
	</div>
	<div class="dojoxGridxFooter" dojoAttachPoint="footerNode">
		<div class="dojoxGridxHScroller" dojoAttachPoint="hScrollerNode"><div style="width:1px;height: 1px"></div></div>
	</div>
	<span dojoAttachPoint="lastFocusNode" tabindex="0"></span>
</div>
