<div>

	<div class="dojoxGridxHeader" dojoAttachPoint="headerNode"></div>
	<div class="dojoxGridxMain">
		<div class="dojoxGridxBody" dojoAttachPoint="bodyNode"></div>
		<div class="dojoxGridxVScroller" dojoAttachPoint="vScrollerNode"><div style="width:1px; height: 1px;"></div></div>
		<div class="clear"></div>
	</div>
	<div class="dojoxGridxFooter" dojoAttachPoint="footerNode">
		<div class="dojoxGridxHScroller" dojoAttachPoint="hScrollerNode"><div style="width:1px;height: 1px"></div></div>
	</div>
</div>