<div class='dojoxGridxPager'
	><table cellpadding="0" cellspacing="0" role="presentation"
		><tr
			><td class="dojoxGridxPagerDescription"
				dojoAttachPoint="_descContainer"
			></td
			><td class="dojoxGridxPagerStepper"
				dojoAttachPoint="_pageStepperContainer"
				><span class='dojoxGridxPagerStepperBtn dojoxGridxPagerPrevPage'
					tabindex='${_tabIndex}'
					title='${prevPageTitle}'
					aria-label='${prevPageWai}'
					pageindex='Prev',
					dojoAttachPoint='_prevPageBtn'
					dojoAttachEvent='onclick: _gotoPrevPage'
					><span class='dojoxGridxPagerA11yInner'>&nbsp;&lt;</span
				></span
				><span class='dojoxGridxPagerPages'
					dojoAttachPoint='_pageBtnContainer'
					dojoAttachEvent='onclick: _gotoPage, onmouseover: _onHoverPageBtn, onmouseout: _onHoverPageBtn'
				></span
				><span class='dojoxGridxPagerStepperBtn dojoxGridxPagerNextPage'
					tabindex='${_tabIndex}'
					title='${nextPageTitle}'
					aria-label='${nextPageWai}'
					pageindex='Next',
					dojoAttachPoint='_nextPageBtn'
					dojoAttachEvent='onclick: _gotoNextPage'
					><span class='dojoxGridxPagerA11yInner'>&nbsp;&gt;</span
				></span
			></td
			><td class="dojoxGridxPagerSizeSwitch"
					dojoAttachPoint='_sizeSwitchContainer'
					dojoAttachEvent='onclick: _switchPageSize, onmouseover: _onHoverSizeBtn, onmouseout: _onHoverSizeBtn'
			></td
			><td class='dojoxGridxPagerGoto'
				><span class='dojoxGridxPagerGotoBtn'
					tabindex='${_tabIndex}'
					title='${gotoBtnTitle}'
					aria-label='${gotoBtnWai}'
					dojoAttachPoint='_gotoBtn'
					dojoAttachEvent='onclick: _showGotoDialog'
					><span class='dojoxGridxPagerA11yInner'>⊥</span
				></span
			></td
		></tr
	></table
></div>
