<div class='dojoxGridxPager'
	><table class='dojoxGridxPagerInner' cellpadding="0" cellspacing="0" role="presentation"
		><tr
			><td class="dojoxGridxPagerDescriptionTD"
				><div class="dojoxGridxPagerDescription"
					data-dojo-attach-point="_descContainer"
				></div
			></td
			><td class="dojoxGridxPagerStepperTD"
				><div class="dojoxGridxPagerStepper"
					data-dojo-attach-point="_pageStepperContainer"
					><span class='dojoxGridxPagerStepperBtn dojoxGridxPagerPrevPage'
						tabindex='${_tabIndex}'
						title='${prevPageTitle}'
						aria-label='${prevPageWai}'
						pageindex='Prev',
						data-dojo-attach-point='_prevPageBtn'
						data-dojo-attach-event='onclick: _gotoPrevPage'
						><span class='dojoxGridxPagerA11yInner'>&nbsp;&lt;</span
					></span
					><span class='dojoxGridxPagerPages'
						data-dojo-attach-point='_pageBtnContainer'
						data-dojo-attach-event='onclick: _gotoPage, onmouseover: _onHoverPageBtn, onmouseout: _onHoverPageBtn'
					></span
					><span class='dojoxGridxPagerStepperBtn dojoxGridxPagerNextPage'
						tabindex='${_tabIndex}'
						title='${nextPageTitle}'
						aria-label='${nextPageWai}'
						pageindex='Next',
						data-dojo-attach-point='_nextPageBtn'
						data-dojo-attach-event='onclick: _gotoNextPage'
						><span class='dojoxGridxPagerA11yInner'>&nbsp;&gt;</span
					></span
				></div
			></td
			><td class="dojoxGridxPagerSizeSwitchTD"
				><div class="dojoxGridxPagerSizeSwitch"
					data-dojo-attach-point='_sizeSwitchContainer'
					data-dojo-attach-event='onclick: _switchPageSize, onmouseover: _onHoverSizeBtn, onmouseout: _onHoverSizeBtn'
				></div
			></td
			><td class='dojoxGridxPagerGoto'
				><span class='dojoxGridxPagerGotoBtn'
					tabindex='${_tabIndex}'
					title='${gotoBtnTitle}'
					aria-label='${gotoBtnWai}'
					data-dojo-attach-point='_gotoBtn'
					data-dojo-attach-event='onclick: _showGotoDialog'
					><span class='dojoxGridxPagerA11yInner'>⊥</span
				></span
			></td
		></tr
	></table
></div>
