<div class='dojoxGridxPager'
	><table class='dojoxGridxPagerInner' cellpadding="0" cellspacing="0" role="presentation"
		><tr
			><td class="dojoxGridxPagerDescriptionTD"
				><div class="dojoxGridxPagerDescription"
					data-dojo-attach-point="_descContainer"
				></div
			></td
			><td class="dojoxGridxPagerStepperTD"
				><div class="dojoxGridxPagerStepper"
					data-dojo-attach-point="_pageStepperContainer"
					><label class='dojoxGridxPagerLabel'>${pageLabel}</label
				></div
			></td
			><td class="dojoxGridxPagerSizeSwitchTD"
				><div class="dojoxGridxPagerSizeSwitch"
					data-dojo-attach-point='_sizeSwitchContainer'
					><label class='dojoxGridxPagerLabel'>${pageSizeLabel}</label
				></div
			></td
		></tr
	></table
></div>
