/* ---------- Begin Mobile ---------- */
@media screen and (max-device-width: 320px) { 
    #intro .dojoToolkit .homeIntro .introSubText {
        line-height: 14px;
        font-size: 14px;
    }
    #intro .dojoToolkit .homeintro .browsers {
        margin-top: 0;
    }
}
/* ---------- End Mobile ---------- */

* {
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif !important;
    font-size: 14px !important;
    background: #FFF;
    color: #222;
}

body.claro {
/*    font-family: "Lucida Sans", "Lucida Grande", Arial !important; */
}

/*-----------------------------------------------
SH. Site Header (generic)
-----------------------------------------------*/
#header {
    margin: 0;
    padding: 0;
    background: url(../images/header/linen.jpg) repeat-x scroll left top;
    width: 100%;
    height: 78px;
    border-bottom: 1px solid #D8D8D8;
}
#header .container {
    height: 78px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*-----------------------------------------------
SHL. Site Header - Logo
-----------------------------------------------*/
#header #logo {
    display: inline-block;
    position: absolute;
    top: 3px;
    margin: 0;
}
#header #logo a {
    color: #fff;
    text-decoration: none;
    padding-top: 1em;
    display: block;
}
#header #logo a img {
    padding: 0;
	width:102px;
    border: medium none;
}

/*-----------------------------------------------
SHN. Site Header - Navigation
-----------------------------------------------*/
#header ul {
    position: absolute;
    bottom: 7px;
    right: 230px;
    margin: 0;
    padding: 0 0 0 11.55em;
    font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}
#header ul li {
    list-style: none;
    display: inline;
}
#header li a {
    margin: 0 1px;
    padding: 7px 15px;
    display: block;
    float: left;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    min-width: 62px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.0035em;
    background-color: #5BAED5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 176, 216)), to(rgb(0, 136, 196)));
    background-image: -webkit-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -moz-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -o-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -ms-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    border-top: 1px solid #64D0E7;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

#header .home a {
    min-width: 15px;
    width: 15px;
    padding-bottom: 6px;
}

.dj_ie7 #header li a {
    height: 21px; /* Get IE 7 to display the nav tabs correctly */
}

#header li.active a {
    font-weight: bold;
    border-bottom: 3px solid #0099CC;
}

.homeIcon {
    display: inline-block;
    width: 16px;
    height: 15px;
}

#header ul .homeIcon,
.homePage #header ul .homeIcon {
    background: url(../images/homeIcon.png) no-repeat 0 -15px;
}

#header ul .homeIcon { background-position: 0 0 }

.homePage #header ul .home a,
.demosPage #header ul .demos a,
.downloadPage #header ul .download a,
.featuresPage #header ul .features a,
.communityPage #header ul .community a,
.blogPage #header ul .blog a,
.examplesPage #header ul .examples a,
.docPage #header ul .docs a {
    background: #FFF;
    color: #656565;
    text-shadow: none;
    border-color: #FFF;
}

.getDojoButton {
    position: absolute;
    right: 0;
}

/*===============================================
Description:
The typography for the dojotoolkit website,
includes all base styles.
===============================================*/


h1, h2, h3, h4, h5, h6,
p, blockquote, code, pre,
div, form, table {
    vertical-align: baseline;
}


.accessibility {
    display: none;
    visibility: visible;
}

br {
    clear: both;
}

hr {
    height: 1px;
    width: auto;
    border: medium none;
    background: #DDDDDD;
    margin: 10px 0;
}

em, i {
    font-style: italic;
}
strong, b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #333333;
    clear: both;
}

#main h1,
body h1 {
    font-size: 28px;
    font-weight: normal;
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
    margin: 0 0 18px 0;
    clear: none;
}

h2 {
    font-size: 20px;
    line-height: 120%;
    margin: 33px 0 10px;
    color: #C00;
}


h2 em {
    color: #333;
    font-style: normal;
}

h3 {
    font-size: 16px;
    color: #C00;
    line-height: 120%;
    margin: 40px 0 10px 0;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    margin: 20px 0 4px 0;
}

p, ol, ul, dl {
    line-height: 125%;
    margin: 0 0 12px;
}

ol, ul {
    margin: 0 0 12px 40px;
    padding: 0px;
    -moz-padding-start: 0px;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
}

li {
    margin: 12px 0;
}

dl {
    margin: 0 0 12px 0;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0 0 0 40px;
    padding: 0px;
    -moz-padding-start: 0px;
}

pre, code {
    font-family: "Lucida Grande", "Lucida Sans", Geneva, verdana, san-serif;
}
pre {
    margin: 12px 0;
    padding: 6px 9px 7px;
    font-size: 11px;
    border: 1px solid #CCCCCC;
    background: #FFFFEB;
    color: #555;
}

code {
    font-family:"courier" !important;
}

/* ---------- Syntax Highlighting ---------- */

#main .syntaxhighlighter .toolbar {
	display: none;
}

.syntaxhighlighter {
	padding: 0.4em;
	border: 1px solid #CCC;
}

#main .syntaxhighlighter .alt1 {
	background: #F6F6F2 !important;
}

#main .syntaxhighlighter .line.alt1,
#main .syntaxhighlighter .line.alt2  {
	padding: 0.1em 1em !important;
}

#main .syntaxhighlighter .gutter .line {
	border-right-color: #DDD !important;
}

#main .syntaxhighlighter .gutter .highlighted {
    background: #6CE26C !important;
}

#main .syntaxhighlighter .highlighted {
    background-color: #E0E0E0 !important;
}

/* ----------------------------------------- */

object, video {
    margin: 12px 0 12px;
}

a, a:link {
    color: #0092C9;
    text-decoration: none;
}
a:active, a:visited {
    color: #140586;
}
a:hover, a:focus {
    text-decoration: underline;
}

a:hover img {
    border-color: #005197;
}

/**
* Common
*/
.displayNone, .hide {
    display: none;
}

/**
* Main layout
*/
html {
    height: 100%;
    width: 100%;
}


.accessibility {
    font-size: 1px;
    position: absolute;
    top: -9999px;
    padding: 1em 0;
    text-align: center;
}

#page {
    position: relative;
}

.photoCaption {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    margin: 15px auto;
    text-align: center;
}

.defaultTable {
    margin: 2em 0;
    background: #EAEAEA;
}

.defaultTable td {
    padding: 12px 24px;
    border: 1px solid #F7F7F7;
    border-top: none;
    border-left: none;
}

/**
* Outer layout grid
*/

.innerBox {
/*
* summary: used within head, foot, ... to center the outer box.
*/
width: 960px;
margin: 0 auto;
padding: 0;
overflow:hidden;
position: relative;
}

#main .container {
    overflow: hidden;
}

.container {
    width: 960px;
}

.largeDivider {
    display: inline-block;
    clear: both;
    width: 100%;
    margin: 16px 0 28px 0;
}

.quoteContainer {
    margin: 30px 0;
    border-top: 1px solid #E5E5E5;
}

blockquote {
    margin: 30px;
    color: #666;
    font: italic 18px/27px Georgia, "Times New Roman", Times, serif;;
}

blockquote p:before {
    content: '\201C';
    height: 0;
    margin-left: -0.55em;
}

blockquote p:after {
    content: '\201D';
    height: 50px;
}

.quoteAuthor {
    display: block;
    color: #0092C9;
}

.quoteAuthor:before {
    content: '- - ';
    color: #666;
}

.successStories {
    width: 87% !important;
    padding: 30px 40px;
}

.successStories ul {
    margin-left: 20px;
    list-style-image: url("../images/listArrow.png");    
}

/**
* Header
*/
.highlightHead {
    padding: 0;
    margin: 0 0 0.5em 0;
    background: #E9E9E9;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 0.35em 1em;
    font-size: 14px;
    color: black;
    font-weight: bold;
    line-height: 120%;
}

/*-----------------------------------------------
The styles for the subnavigational elements.
-----------------------------------------------*/
.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.subnav li {
    line-height: 14px;
    height: 26px;
    display: inline;
}
.subnav li a {
    display: inline;
    float: left;
    margin: 0 12px;
    padding: 8px 0;
    text-decoration: none;
    color: #004fb1;
    border: 1px solid transparent;
}

.subnav li .blueButton {
    padding: 8px 12px;
}

.subnav li a:hover,
.subnav .selected a,
.subnav .selected:hover {
    color: #000;
}

/*-----------------------------------------------
The styles for the buttons.
-----------------------------------------------*/

.blueButton {
    color: #FCFCFC !important;
    border: 1px solid #00ABD2;
    display: inline-block;
    text-decoration: none !important;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
	background-color:#0089CE;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.46, #0089CE),
        color-stop(0.87, #00AAD5)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #0089CE 46%,
        #00AAD5 87%
    );
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.dj_ie .blueButton {
	background-color:#0089CE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00AAD5', endColorstr='#0089CE');
    zoom: 1;
    border: 1px solid #0089CE;
}
.blueButton:hover {
    color: #FFF !important;
    -moz-box-shadow: 0 1px 3px #00ABD2;
    -webkit-box-shadow: 0 1px 3px #00ABD2;
    box-shadow: 0 1px 3px #00ABD2;
}

/**
* Lists
*/
.defaultList {
    margin: 0.5em 0 0 1.5em;
}

.defaultList li {
    list-style-type: none;
    padding: 0.6em 0;
}

#intro {
    height: 345px; 
}

.homePage #intro {
    height: 390px;
    background: url(../images/homeIntroBg.jpg) no-repeat center bottom;
}

#intro .innerBox {
    padding-top: 40px;
}

.innerBox .sprite {
    position: relative;
    float: left;
    width: 218px;
    height: 400px;
    background: url(../images/featuresSprite.png) no-repeat 0 0;
}

.dojoToolkit .sprite {
    top: -40px;
    background-position: 0 0;
}

.nano .sprite {
    top: -17px;
    background-position: -218px 0;
}

.webApps .sprite {
    top: -26px;
    width: 352px;
    background-position: -436px 0;
}

.mobile .sprite {
    top: -26px;
    width: 294px;
    background-position: -790px 0;
}

.graphsCharts .sprite {
    top: -32px;
    width: 362px;
    background-position: -1078px 0;
}

.tools .sprite {
    top: -42px;
    width: 344px;
    background-position: -1450px 0;
}

.serverside .sprite {
    top: -42px;
    width: 400px;
    background-position: -1800px 0;
}

#intro .line {
    padding: 0 0 41px 38px;
}

#intro .mobile .line { padding: 0 0 41px 0 }    
#intro .graphsCharts .line { padding: 0 0 41px 22px }

.homePage .innerBox .sprite {
    background-image: url(../images/mainSprite.png);
}

.actionButton {
    display: inline-block;
}

.introNav {
    overflow: hidden;
    position: relative;
    bottom: 100px;
    width: 750px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.introNav li {
	float:left;
	list-style-type:none;
	padding:0 34px;
	margin:0 -1px 0 0;
	line-height: 30px;
	display:inline-block;
    background: #fafdff; /* Old browsers */
    background: -moz-linear-gradient(top, #fafdff 0%, #f1f3f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafdff), color-stop(100%,#f1f3f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafdff 0%,#f1f3f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafdff 0%,#f1f3f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafdff 0%,#f1f3f4 100%); /* IE10+ */
    background: linear-gradient(top, #fafdff 0%,#f1f3f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafdff', endColorstr='#f1f3f4',GradientType=0 ); /* IE6-9 */	
    border: 1px solid #E6E6E7;
    color: #0092C9;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
    cursor: pointer; 
}

.introNav .selected {
    background: #E8E9EA;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3) inset;
}

.introNav .first {
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
}

.introNav .last {
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;
}

.nano .introNav {
    bottom: 95px;
}

#usingDojo {
    overflow: hidden;
    height: 48px;
    background: #dcdcdc;
    box-shadow: 0 3px 6px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.1) inset;
    border-bottom: 1px solid #fff;
}

.usingDojoBanner {
    float: left;
    height: 48px;
    width: 28%;
    background: url("../images/ribbonBg.png") repeat-x left top;
    text-shadow: 0 -1px 0 rgba(0,0,0,.9);
}

.usingDojoBanner h4 {
    margin: 0;
    padding: 0 8% 0 0;
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: right;
    background: url("../images/ribbonEnd.png") no-repeat right top;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0,0,0,.9);    
}

.usingDojoLogos {
    float: left;
    height: 48px;
    width: 72%;
    line-height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.usingDojoLogos li {
    float: left;
    height: 30px;
    line-height: 48px;
    margin: 9px 10px;
    padding: 0;
    display: inline;
    text-indent: -9000px;
    vertical-align: middle;
    background: url("../images/dojoUsers.png") no-repeat 0 0;
}

li.adp { width: 34px }
li.vmware { background-position: -36px 0; width: 93px }
li.eyefi { background-position: -130px; width: 52px }
li.jpmc { background-position: -185px; width: 74px }
li.cisco { background-position: -261px 0; width: 46px}
li.ibm { background-position: -310px 0; width: 45px}
li.sitepen { background-position: -357px 0; width: 73px}
li.thomsonreuters { background-position: -433px 0; width: 106px }
li.alcatellucent { background-position: -541px 0; width: 83px }
li.pearson { background-position: -628px 0; width: 62px }


#main {
    padding: 0;
}

.homePage #main,
.featuresPage #main
 {
    padding: 40px 0;
    background: #F7F7F7 url("../images/shadow.png") no-repeat center top;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

#main .firstUnit {
}

#main .sidebar .mod {
    margin-bottom: 20px;
}

#main .sidebar h1 {
    padding-bottom: 10px;
}

.spacer {
    padding-right: 65px;
}

.rightUnitSpacer {
    margin-right: 2em;
}

.leftUnitSpacer {
    margin-left: 2em;
}

.twitterStream {
    padding: 20px 20px 5px 20px !important;
}

#main .twitterStream  h1 {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 0;
}

.sidebar .twitterStream ul {
    margin: 30px 0 0 0;
    padding: 0;
}

.sidebar .twitterStream li {
    padding: 0 0 0 64px;
    margin-bottom: 20px;
    min-height: 48px;
    background: url("../images/dojoTwitter.jpg") no-repeat left top;
}

.sidebar .twitterStream ul div {
    margin-top: 7px;
    color: #888;
    font-size: 11px;
    font-style: italic;
}

.twitterStream a,
.twitterStream a:hover,
.twitterStream a:visited {
    text-decoration: none;
    color: #0092C9;
}
    
.twitterStream h1 {
    line-height: 32px;
    background: url("../images/twitter.png") no-repeat left center;
    padding-left: 38px;
}

.press .article {
    margin-bottom: 40px;
}

.pressQuote {
    margin-top: 5px;
}

.pressAuthor {
    margin: 0 0 0 10px;
    color: #0092C9;
}

.pressAuthor:before {
    content: '- ';
    color: #888;
}

.pressDate {
    margin: 0 0 0 19px;
    font-size: 12px;
    color: #888;
}

/**
* main content
*/
#contentLeft {
    float: left;
    width: 575px;
    padding-right: 20px;
    position: relative;
    background: url(../images/sepLrg.gif) no-repeat right 30px;
}

#contentNavRight {
    float: right;
    width: 250px;
}

#contentRight {
    float: right;
    width: 655px;
    position: relative;
}

#contentNavLeft {
    float: left;
    width: 180px;
    background: url(../images/sepLrg.gif) no-repeat right 30px;
    padding-right: 10px;
}

.boxShadow {
    position: relative;
    padding: 25px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);    
    background: #FFF;
    border: 1px solid #DEDEDE;
}

.boxShadow:before,
.boxShadow:after {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 12px;
    background: transparent;
    left: 0;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.boxShadow:after {
    left: auto;
    right: 0;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.boxDocumentation {
    padding: 32px;
    overflow: hidden;
}

.boxDocumentation h2 {
    margin-bottom: 20px !important;
}

.boxMedium {
    min-height: 336px;
}

.boxDocumentation dt a,
.boxDocumentation dt a:hover,
.boxDocumentation dt a:visited {
    text-decoration: none;
    color: #0092C9;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

.boxDocumentation .icon {
    float: left;
    position: relative;
    width: 37px;
    height: 37px;
    background: url(../images/docsSprite.png) no-repeat 0 0;
}

.docsWidgets .icon { background-position: 0 -52px }
.docsAPI .icon { background-position: 0 -104px }
.docsRef .icon { background-position: 0 -156px }
.docsTuts .icon { background-position: 0 -209px }
.docsDemos .icon { background-position: 0 -263px }

.boxDocumentation dl {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.boxDocumentation .docsTuts {
    margin-bottom: 0;
}

.boxDocumentation dt {
    position: relative;
    left: 14px;
    margin: 0;
    line-height: 37px;
}

.sidebar h4 {
    height: 34px;
    line-height: 34px;
    padding: 0 1em;
    margin: 0;
    border: 1px solid #ECECEC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
    -webkit-box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
    background: #E9E9E9;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, #F4F4F4),
        color-stop(0.78, #FEFEFE)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #F4F4F4 9%,
        #FEFEFE 78%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F4F4F4');   
}

.sidebar ul {
    margin: 10px 0;
    padding-left: 15px;
}

.sidebar ul li {
    list-style-type: none;
    padding: 0.3em 0;
}

.press {
    margin: 30px 0;
}

/* reference:
* http://www.positioniseverything.net/easyclearing.html
* http://www.zeldman.com/2006/10/27/ie7fixes1/
* comment by michael on 10/28/2006
*/
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ---------- Features ---------*/

.featuresNav {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #D8D8D8;
}

.featuresNav ul {
    overflow: hidden;
    position: relative;
    top: 1px;
    width: 624px;
    margin: 0 auto;
    list-style-type: none;    
}


.featuresNav li {
	float: left;
	list-style-type: none;
	padding: 0 18px;
	margin: 0;
	line-height: 44px;
	display: inline-block;
}

.featuresNav .selected {
    position: relative;
}

.featuresNav .selected:before {
    position: absolute;
    bottom: 0;
    left: 42%;
    content: " ";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #D8D8D8;
}

.featuresNav .selected:after {
    position: absolute;
    bottom: -1px;
    left: 42%;
    content: " ";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFF;
}

.featuresNav a,
.featuresNav a:hover,
.featuresNav a:visited {
    text-decoration: none;
    color: #0092C9;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

.featuresNav .selected a {
    color: #666;
}

.nano .introNav {
    bottom: 95px;
}


.featuresPage #main .headingBlock {
    display: block;
}

.featuresPage #main .container h1 {
    font-family: "Myriad Pro", "Lucida Grande", "Arial", "Helvetica", "Liberation Sans", FreeSans, sans-serif;
	margin-top:15px;
}

.mobilePage #main h2 {
    margin: 5px 0 5px;
    color: #666;
    font-family: "Myriad Pro", "Lucida Grande", "Arial", "Helvetica", "Liberation Sans", FreeSans, sans-serif;
}

.featuresPage .defaultList {
    margin: 0.5em 0 2em 2.5em;
}

.featuresPage .defaultList li {
    list-style-type: disc;
}

.splitContainer {
	position:relative;
}

.splitContainer .leftContainer {
	width:45%;
}

.splitContainer .rightContainer {
	position:absolute;
	right:0;
	top:0;
	width:50%;
}

.videoFrame {
    float: right;
    width: 400px;
    height: 225px;
    margin-bottom: 10px;
    background: #E9E9E9;
    border: 1px solid #C6C6C6;
}

.mobileFrame {
    float: left;
    width: 258px;
    height: 427px;
    margin-right: 20px;
    background: #E9E9E9;
    border: 1px solid #C6C6C6;    
}

.smallFrameContainer {
    float: right;
}

.smallFrame {
    float: right;
    width: 174px;
    height: 122px;
    margin: 0 0 10px 10px;  
    background: #E9E9E9;
    border: 1px solid #C6C6C6;    
}

.mediumFrameContainer {
    float: left;
}

.mediumFrame {
    float: left;
    width: 248px;
    height: 165px;
    margin: 0 10px 10px 0;  
    background: #E9E9E9;
    border: 1px solid #C6C6C6;    
}

.divider {
    clear: both;
    height: 21px;
    margin-bottom: 30px;
    margin-top:20px;
    border-bottom: 1px solid #CCC;
}

.mobilePage .imageRight {
    float: right;
}

.mobilePage .imageLeft {
    float: none;
}

.ribbonHeading {
    display: inline-block;
    height: 55px;
    width: 201px;
    margin-bottom: 0;
    background: url("/images/ribbonsSprite.png") no-repeat 0 0;
}

.ribbonPHP { background-position: 0 0 }
.ribbonJSF { background-position: 0 -65px }
.ribbonRuby { background-position: 0 -128px }
.ribbonJava { background-position: 0 -189px }
.ribbonJS { background-position: 0 -250px }
.ribbonPython { background-position: 0 -311px }

.integrationsPage #main h1 {
    display: block;
}

.packageLogo {
    display: inline-block;
    margin: 30px 0 10px 0;
}

.packageLogo:hover {
    text-decoration: none;
}
.packageLogo span {
    font-size: 24px;
    vertical-align: top;
    margin-left: 10px;
}
/* ---------- Documentation ---------*/

.docPage #main .headingBlock {
    font-size: 26px !important;
    font-family: "Lucida Grande", "Lucida Sans", Arial, "Liberation Sans", FreeSans, !important;    
}

.docPage .tutsList {
    width: 90%;
    position: relative;
    overflow: hidden;
    margin: 2em 0 4em;
}

.docPage .tutsImage {
    position: absolute;
    left: 10px;
	top: 0;
    width: 90px;
    height: 90px;
    background: #EEE;
    border: 1px solid #C6C6C6;
}

.docPage .tutsImage img {
	width:90px;
	height:90px;
}

.docPage .tutsList .tutMeta {
	margin:0.4em 0;
}

.docPage .tutsList .difficulty,
.docPage .tutsList .version {
	padding-right:15px;
}

.docPage .tutsList dt,
.docPage .tutsList dd,
.docPage .tutsList .tutsLink {
    margin-left: 130px;
}

.docPage .tutsList .tutsLink {
    display: block;
   *margin: 1em 0 0 0;
}

.docPage .tutsList dt {
    margin-bottom: .5em;
    font: 22px/22px "Lucida Grande", "Lucida Sans", Arial; 
}

.docPage .tutsList dd {
    margin-bottom: .75em;
}

.docPage .sidebar h2 {
    margin: 0 0 0.7em  0;
    color: #333;
    font: 22px/22px "Lucida Grande", "Lucida Sans", Arial;     
}

.docPage .refIcon,
.docPage .apiIcon {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
    color: #005197;
    font: normal 18px/37px "Myriad Pro", "Lucida Grande", "Arial", "Helvetica", sans-serif;        
    text-decoration: none;
}

#books {

}

#books a {
    margin: 0 5px 10px 0;
    display: inline-block;
}

#books img {
    width: 98px;
    height: 125px;
}

/* ---------- Community ---------*/

.communityPage #main .headingBlock {
    display: block;
}

.communityPage #main .container h1 {
    font-family: "Myriad Pro", "Lucida Grande", "Arial", "Helvetica", "Liberation Sans", FreeSans, sans-serif;
	margin-top:15px;
}

.communityPage .docutils {
    margin: 2em 0;
    border: 1px solid #333;
}

.communityPage .docutils td,
.communityPage .docutils th {
    padding: 5px;
}

.communityPage .docutils thead td {
    background: #7d7e7d; /* old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* ie */
    color: #FFF;
    font-size: 12px;
    border-bottom: 1px solid #FFF;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0,0,0,.9);
}

.communityPage .docutils .odd td {
    background: #EDEDED;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
    box-shadow: 0 1px 0 #DFDFDF, 0 1px 0 #DFDFDF inset;
    -moz-box-shadow: 0 1px 0 #DFDFDF, 0 1px 0 #DFDFDF inset;
    -webkit-box-shadow: 0 1px 0 #DFDFDF, 0 1px 0 #DFDFDF inset;
}

.communityPage .syntaxhighlighter {
    width: auto !important;
}

/* ---------- Pro Tip ---------*/

.proTip {
	padding:1em;
	padding-left:35px;
	border:1px solid #ececcd;
	background:#fffff1 url("/images/tip.png") no-repeat 10px 16px;
}


/*
* Copied from Object Oriented CSS
* by stubbornella
*/
/* **************** GRIDS ***************** */
.line, .lastUnit {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
    width: auto !important;
}
.unit {
    float: left;
    zoom: 1;
}

.unitClear {
    display: inline-block;
    clear: both;
    width: 100%;
    margin: 3em 0;
}

.size1of1 {
    float: none;
}
.size1of2 {
    width: 50%;
    _width: 49.9% !important;
}
.size1of3 {
    width: 33.33333%;
    _width: 33.25% !important;
}
.size2of3 {
    width: 66.66666%;
    _width: 66.65% !important;
}
.size1of4 {
    width: 25%;
    _width: 24.95% !important;
}
.size3of4 {
    width: 75%;
    _width: 74.95% !important;
}
.size1of5 {
    width: 20%;
    _width: 19.95% !important;
}
.size2of5 {
    width: 40%;
    _width: 39.95% !important;
}
.size3of5 {
    width: 60%;
    _width: 59.95% !important;
}
.size4of5 {
    width: 80%;
    _width: 79.95% !important;
}
.lastUnit {
    float: none;
    _float: right;
}
.size55 {
    width: 55%;
    _width: 54.95%;
}

.size45 {
    width: 45%;
    _width: 44.95%;
}

.size1of3withGutterLeft,
.size1of3withGutterRight {
    width: 30.33333%;
    _width: 30.25% !important;
    margin-right: 3%; 
}

.size1of3withGutterLeft {
    margin-right: 0;
    margin-left: 3%;
}


.size1of2withGutter {
    width: 44%;
    _width: 43.9% !important;
    margin-right: 6%; 
}

.size2of3withGutter {
    width: 62.66666%;
    _width: 62.65% !important;
    margin-right: 4%; 
}

.imageLeft {
    float: left;
}

.imageRight {
    float: right;
}

/**
* General inline styles
*/

#main h1 {
    display: inline;
    margin: 0 0 25px 0;
}

h4.icon {
    padding: 4px 0 0 27px;
}

/*
table th {
    background-color: #DDDDDD;
    font-size: 11px;
    padding: 0.6em;
}

table td {
    border-collapse: collapse;
    border: 1px solid #FFFFFF;
    border-width: 0 1px 1px 0;
    font-size: 11px;
    padding: 0.6em;
}
*/

.pageTitleContainer {
    padding: 0em 0 1.5em 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
    margin-top: 24px;
    position: relative;
    height: 25px;    
}

.pageTitleContainer h1 {
    position: absolute;
    left: 0;
}

/**
* text
*/
.notice {
    color: #e52b00;
}

/* special style for inlined images */
img.inlined {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 12px 0 12px;
}

a img {
    border: none;
}

input {
    color: #666666;
    font-style: italic;
}

/* intro text styles */
.introText {
    display: block;
    padding: 0;
    font-size: 32px;
}

.introText em, h1 em {
    font-style: normal;
    color: #196daa;
}

.introSubHeadline {
    margin: 0 !important;
    color: #0092C9;
    font-size: 18px;
}

.introSubText {
    font-size: 18px;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    color: #7D7D7D;
    padding-bottom: 14px;
    line-height: 24px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 0px;
    position: relative;
}

.nano .introSubText {
    padding-bottom: 0;
    margin-bottom: 10px !important;
}

.introSubText img {
    display: block;
    margin-top: 14px;
	position:relative;
}

.homePage .version {
    width: 160px;
    height: 200px;
    position: absolute;
	text-align:center;
    left: 45px;
    top: 15px;
}

body .homePage .version h3 {
    position: relative;
    top: 58px;
    right: 18px;
    font-size: 120px;
    color: #fff;
    font-weight: normal;
    font-family: "Georgia", "Lucida Grande", "Arial", "Helvetica", "Liberation Sans", FreeSans, sans-serif;
    padding: 0;
    margin: 0;
    text-shadow: 0 -2px 0 rgba(0,0,0,.3);
}

.homePage .version span {
    font: normal 15px "Georgia", "Lucida Grande", "Arial", "Helvetica", sans-serif;
    display: block;
    text-align: center;
    position: relative;
    left: 3px;
    top: 53px;
    color: #fff;
    width: 120px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.companiesStrip {
    background: #0B8CD4 url("../images/companiesStripBg.gif") repeat-x bottom left;
    height: 37px;
    margin-bottom: 55px;
}

.companiesStrip img {
    vertical-align: middle;
    margin-right: 10px;
}

.featuresGrid {
    margin-top: 25px;
    margin-bottom: 55px;
    clear: left;
}

.featuresGrid h2, .featuresGrid h2 a:link, .featuresGrid h2 a:visited {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #cc0000;
}

.featuresGrid .iconContainer {
    width: 75px !important;
    padding: 0 10px;
    text-align: right;
}


/* downloads */
.iconh1 {
    vertical-align: middle;
    padding-left: 10px;
    font: normal 34px/51px "Lucida Grande", Arial !important;
}

.downloadInfo li ul {
    list-style: none;
    margin-right: 18px;
    padding-left: 30px;
}

ul.downloadInfo {
    margin-left: 0;
    clear: left;
}

.codeSample textarea {
    background: none;
    border: 0;
    width: 95%;
    height: 90px;
    font-size: 11px;
}

.downloadInfo ul.inlineList {
    overflow: hidden;
    margin: 5px 0 0px 0;
    padding: 0 10px;
    padding-left: 0;
    font-size: 1.2em;
}

.downloadInfo ul.inlineList li img {
    margin-right: 7px;
}

.downloadInfo ul.inlineList .title {
    min-width: 100px;
    font-size: 14px;
}

.downloadInfo ul.inlineList li {
    font-size: 12px;
    line-height: 14px;
	margin-bottom:0;
}

.downloadInfo li ul li {
    float: left;
    padding-right: 8px;
}

#sdk {
    margin-top: 20px;
margin-bottom:0;
}

.radioRow,
.radioRow label {
    margin: 18px 20px 18px 0;
    line-height: 14px;
    vertical-align: middle;
}

.headingIcon {
    display: inline;
    padding-left: 10px;
}

.gradientBox {
    overflow: hidden;
    margin-top: 0em;
    padding: 0 10px 10px 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #F5F5F5),
        color-stop(1, #FFFFFF)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #F5F5F5 0%,
        #FFFFFF 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F5F5F5');
    border-bottom: 1px solid #DDD;
}

#getdojo,
#sdk {
    margin-left: 10px;
}

/* Temp TYPE rules */


.codeSample {
    font-size: 11px;
    border: 1px solid #ccc;
    background: #ffffeb;
    padding: 5px;
    margin-top: 8px;
}

/* Comments */
.commentsTitle {
    border-top: 1px dotted #ddd;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #cc0000;
    font-weight: normal;
}

/**
* Page specific styling
*/
.go {
    margin-top: 17px;
}

.headerLink {
    font-size: 10px;
    padding-left: 1em;
}

.navTab {
    list-style: none;
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.navTab li {
    margin-top: 1em;
    display: inline;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #e3e3e3;
    color: #333;
    cursor: pointer;
}

.navTab li.active {
    background: white;
    border-bottom: 1px solid white;
    text-decoration: underline;
}

.downloadPage .downloadInfo {
    list-style: none;
}

.downloadPage .downloadInfo hr {
    margin-bottom: 15px;
}

.downloadInfo li strong {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    margin-right: 5px;
}


.downloadPage .help {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 10px 30px 0px;
    background: #F5FFFE;
}

.downloadPage .info {
    padding: 0px;
    margin: 15px 0px;
}

.downloadPage .sidebar .info {
    font-size: 11px;
    margin: 5px 0;
    padding: 5px 5px;
}

.downloadPage .help img {
    float: left;
    margin: 5px 8px 5px 0;
}

.downloadPage .help p {
    margin-bottom: 0;
}

.downloadPage #content img {
    vertical-align: middle;
}

.downloadPage div.group {
    clear: left;
}

.downloadPage div.group h1 {
    margin: 0 0 5px 0 !important; /* <- NEED TO GET RID OF THE IMPORTANT!!!!! */
}

.downloadPage hr {
    height: 1px;
    width: 100%;
    margin: 3px 0;
    clear: left;
}

.downloadPage div.group .checkbox {
    float: left;
    width: 30%;
    clear: both;
    margin-top: 10px;
}

.downloadPage div.group .content {
    float: left;
    width: 70%;
    margin-top: 10px;
}

.downloadPage .depHeader {
    float: right;
    font-size: 80%;
}

.downloadPage .depFooter {
    float: right;
    clear: left;
    font-size: 80%;
    margin-top: 8px;
}

.downloadPage .depWarning {
    vertical-align: middle;
}

.homePage h3,
.featuresPage h3 {
    font-size: 18px;
    font-weight: bold;
    color: #888;
    line-height: 120%;
    margin: 12px 0;
}

.homePage #intro h1,
.homePage #main h1,
.homePage #main h2,
.featuresPage #intro h1,
.featuresPage #main h2 {
    font-size: 30px;
    color: #0092C9;
    font-weight: normal;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    margin: 0 0 5px 0;
    clear: none;
}

.homePage h2,
.featuresPage h2 {
    margin: 0 0 10px 0;
}

/*
.dijitTooltip {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dijitTooltipContainer {
    background: #EEFFCC !important;
    border: 1px solid #AACC99 !important;
}

.dijitTooltipConnector {
    background: none !important;
}
*/

#nabbleforum {
    margin-top: 25px;
}

#nabbleforum .medium-border-color {
    border: 0 !important;
}


.homeIntro .browsers {
	width:500px;
	height:47px;
	list-style-type:none;
	padding:0;
	margin:30px 0 10px;
}

.homeIntro .browsers li {
	background: url("/images/browsers.png") no-repeat;
	height:47px;
	float:left;
	list-style-type:none;
	padding:0;
	margin:0;
	display:inline-block;
}

.homeIntro .introSubText {
    padding-bottom: 0;
}

.homeIntro .browsers .supporting {
	width:90px;
	background-position:0 -10px;
}

.homeIntro .browsers .ie {
	width:40px;
	background-position:-90px -10px !important;
}

.homeIntro .browsers .ff {
	width:40px;
	background-position:-130px -10px !important;
}

.homeIntro .browsers .safari {
	width:40px;
	background-position:-168px -10px !important;
}

.homeIntro .browsers .opera {
	width:40px;
	background-position:-210px -10px !important;
}

.homeIntro .browsers .chrome {
	width:40px;
	background-position:-250px -10px !important;
}

.homeIntro .browsers .ios {
	width:60px;
	background-position:-290px 2px !important;
	height:55px;
	position:relative;
	top:-13px;
}

.homeIntro .browsers .android {
	width:65px;
	height:55px;
	background-position:-350px 2px !important;
	position:relative;
	top:-13px;
}

.homeIntro .browsers .blackberry {
	width:65px;
	height:55px;
	background-position:-420px 2px !important;
	position:relative;
	top:-13px;
}

.homeIntro .browsers .standards {
	width:70px;
	margin-right: 15px;
	background-position:-486px 2px !important;
	position:relative;
	top:-10px;
	border-right: 1px solid #DEDEDE;
}

#resultbox {
    border: 3px solid #999;
    background: #fff;
    padding: 15px;
    width: 420px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000;
    position: absolute;
    right: 0;
    z-index: 200;
    -webkit-box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    outline: none;
}

#googlesearch, #sitesearch {
    margin-left: 20px;
}

#header form span.gs-spacer {
    background: none;
    display: inline;
    width: auto;
    height: auto;
}

.googleheader {
    margin: 5px 0;
    font-weight: bold;
}

/* Google Style Hacks */
.gsc-search-box, .gsc-configLabelCell {
    display: none;
}
.gsc-control {
    width: 100%;
}

.gsc-tabHeader {
    display: none;
}

/* Link Colour */
#resultbox a, .gs-title, .gs-title b {
    font-size: 13px;
    font-weight: bold;
    color: #2253AA !important;
}
.gs-visibleUrl, .gs-visibleUrl-short {
    color: #666 !important;
}

#searchClose {
    text-align: right;
}

#searchClose a {
    font-size: 10px !important;
    color: #cc0000;
    cursor: pointer;
}


#resultbox_underlay {
    opacity: 0;
}

.hidden {
    display: none;
}

.sidebar .authorInfo {
	margin-top:1em;
	padding:0.6em;
}

.sidebar .authorInfo .avatar {
	float:left;
	margin:0 8px 8px 0;
	border:1px solid #eee;
	width:70px;
}

.sidebar h4.sponsor {
	margin-top:1em;
	background:#f7f7f7;
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	color:#626262;
}

.sidebar .sponsorInfo {
	margin-top:0.5em;
	padding:0.4em;
	text-align:center;
	border:3px solid #f9f9f9;
}

.sidebar .sponsorInfo img {
	margin-top:5px;
}

/* ---------- Code Highlighter Plugin ---------- */

/* GeSHi (c) Nigel McNie 2004 (http://qbnz.com/highlighter) */
.dean_ch{margin: 1em 0;padding: 10px;border: 1px dotted #a0a0a0; font-family: 'Courier New', Courier, monospace; background-color: #FFFFF6; color: #000; font-size:12px;}
.dean_ch .de1, .dean_ch .de2 {font-weight:normal;background:transparent;color:#000; padding-left: 5px;}
.dean_ch .kw1 {color: #a1a100;}
.dean_ch .kw2 {color: #000; font-weight: bold;}
.dean_ch .kw3 {color: #000066;}
.dean_ch .kw4 {color: #f63333;}
.dean_ch .co1, .dean_ch .co2, .dean_ch .coMULTI{color: #808080;}
.dean_ch .es0 {color: #000033; font-weight: bold;}
.dean_ch .br0 {color: #66cc66;}
.dean_ch .st0 {color: #ff0000;}
.dean_ch .nu0 {color: #ff33ff;}
.dean_ch .me0 {color: #006600;}
.dean_ch li { list-style-type:decimal !important; padding-left:0.25em !important;}
.dean_ch ol { padding-left:1em !important; margin-left:0 !important;}

/*-----------------------------------------------
Comments hack for reference guide
-----------------------------------------------*/
h4.commentsTitle, div.js-kit-comments {
    display: none !important;
    visibility: hidden;
}

/*Nabble*/
.nabble #forum-title {
	display:none !important;
}



/* Tutorials */
.shareThis {
	margin:0.8em 0 1em 0;
}

.shareThis iframe {
	height: 26px !important;
	vertical-align: top;
}

.docPage .tabs {
	padding:0;
	margin:0;
	margin-right:40px;
}

.docPage .tabs li {
	display:inline-block;
	list-style-type:none;
	padding:0;
	margin:0;
	border:1px solid #e3e3e3;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:1em;
	cursor:pointer;
	background: #e5e5e5; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
	*float:left;
}

.docPage .tabs li:hover {
	background: #eeeeee; /* old browsers */
	background: -moz-linear-gradient(top, #eeeeee 56%, #cccccc 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%,#eeeeee), color-stop(100%,#cccccc)); /* webkit */
}


.docPage .tabs li.active,
.docPage .tabs li.active:hover {
	background:url("/images/header/header.jpg") repeat-x top left !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.9);
}


.docPage .tabs li.active a {
	color:#eee;
}

.docPage .tabs li.active span {
	color:#9d9d9d;
}

.docPage .tabs li a {
	display:block;
	font-size:1.5em;
	color:#000;
	cursor:pointer;
	padding-bottom:0.25em;
}

.docPage .tabs li span {
	cursor:pointer;
	color:#7e7e7e;
	font-size:0.9em;
}

.docPage .tabs li a:hover {
	text-decoration:none;
}

.tutContainer h3 {
	background:#e5e5e5;
	border:1px solid #e4e4e4;
	padding:0.8em;
	width:88%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#000;
}

/* Footer */

#footer {
    clear: both;
    height: 65px;
    line-height: 65px;
    font-size: 11px;
    color: #6F6F6F;
    border-top: 1px solid #E5E5E5;
}