/* pagination bar */
.claro .dojoxGridxPager {
/*    background: url("images/header_shadow.png") repeat-x scroll center bottom #eaf1f6;*/
	background-color: #eaf1f6;
	padding: 3px 9px;
	border-top: 1px solid #dbdbdb;
}

.claro .dojoxGridxPagerNodeFocus {
	border: 1px dotted darkblue;
}

.claro .dojoxGridxPagerStepperBtn,	
.claro .dojoxGridxPagerSizeSwitchBtn {
	margin: 0 5px;
	color: #5D88AF;
}

.claro .dojoxGridxPagerSizeSwitchBtn {
	margin: 0 7px;
}

.claro .dojoxGridxPagerStepperBtnHover,
.claro .dojoxGridxPagerSizeSwitchBtnHover {
	text-decoration: underline;
/*    font-weight: bold;*/
}

.claro .dojoxGridxPagerStepperBtnActive,
.claro .dojoxGridxPagerSizeSwitchBtnActive {
	color: black;
	font-weight: bold;
}
