/* row select */
.claro .dojoxGridxRowSelected .dojoxGridxRowTable {
	background:url("../images/row_back.png") #cee6fa repeat-x;
}

/* column select */
.claro .dojoxGridxRow .dojoxGridxColumnSelected {
	background:url("../images/row_back.png") #cee6fa repeat-x;
}
/* cell select */
.claro .dojoxGridxCellSelected {
	background:url("../images/row_back.png") #cee6fa repeat-x;
}
