/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Quick Filter */
.oneui .gridxRtl .gridxQuickFilterTextBox .dijitInputContainer {
	padding: 0 5px 0 14px;
}

.oneui .gridxRtl .gridxQuickFilterTextBox .gridxQuickFilterClearIcon {
	right: auto;
	left: 5px;
}
