/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Single Sort */

.oneui .gridxArrowButtonNode {
	background: transparent url("images/spriteIcons.png") no-repeat 500px 500px;
	display: none;
	height: 9px;
	margin: 5px 7px 0 0;
	padding: 0;
	width: 9px;
}
.oneui .gridxSortUp .gridxArrowButtonNode {
	display: block;
	background-position: -33px -2px;
}
.oneui .gridxSortDown .gridxArrowButtonNode {
	display: block;
	background-position: -3px -2px;
}

/* for oneui sort */
.oneui .gridxSortSingle {
	display: none;
}

.oneui .gridxSortNested {
	display: block;
	margin: 2px 5px;
	float: right;
	font-size: 10px;
}

.oneui .gridxHeaderCellOver .gridxArrowButtonNode,
.oneui .gridxHeaderCellFocus .gridxArrowButtonNode {
	display: block;
	background-position: -123px -2px;
}

.oneui .gridxHeaderCellOver .gridxSortUp .gridxArrowButtonNode,
.oneui .gridxHeaderCellFocus .gridxSortUp .gridxArrowButtonNode {
	background-position: -183px -2px;
}

.oneui .gridxHeaderCellOver .gridxSortDown .gridxArrowButtonNode,
.oneui .gridxHeaderCellFocus .gridxSortDown .gridxArrowButtonNode {
	background-position: -153px -2px;
}

.oneui .gridxHeaderCellOver .gridxSortAscendOnly,
.oneui .gridxHeaderCellFocus .gridxSortAscendOnly {
	background-position: -93px -2px;
}

.oneui .gridxHeaderCellOver .gridxSortDescendOnly,
.oneui .gridxHeaderCellFocus .gridxSortDescendOnly {
	background-position: -63px -2px;
}

.oneui .gridxHeaderCellOver .gridxSortUp .gridxSortAscendOnly,
.oneui .gridxHeaderCellFocus .gridxSortUp .gridxSortAscendOnly {
	background-position: -33px -2px;
}

.oneui .gridxHeaderCellOver .gridxSortDown .gridxSortDescendOnly,
.oneui .gridxHeaderCellFocus .gridxSortDown .gridxSortDescendOnly {
	background-position: -3px -2px;
}

.oneui .gridxArrowButtonFocus {
}
