/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .gridxRtl .gridxArrowButtonNode {
	margin: 5px 0 0 7px;
}

.oneui .gridxRtl .gridxSortNested {
	float: left;
}
