/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .gridxRtl .gridxRowSelected .gridxCell {
	border-top-color: transparent;
	border-bottom-color: #bbb;
}

.oneui .gridxRtl .gridxRowSelected + .gridxRow .gridxCell {
	border-top-color: transparent;
}
