/*Header, Body, Scroller*/
/*common*/
.dojoxGridx {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	height: 100%;
}

.dojoxGridxHeader,
.dojoxGridxFooter {
	overflow: hidden;
	background-color: #eee;
}

/* Keep footer at bottom, so the grid won't distort too much when zoomed in/out*/
.dojoxGridxFooter {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.dojoxGridxHScroller {
	display: none;
}

.dojoxGridxMain {
	position: relative;
}

.dojoxGridxPercentColumnWidth .dojoxGridxHeaderRow table,
.dojoxGridxPercentColumnWidth .dojoxGridxRow table {
	width: 100%;
}

/*Header*/
.dojoxGridxHeaderRow {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.dojoxGridxHeaderRow :focus {
	outline: none;
}

.dojoxGridxHeaderRowInner {
	overflow: hidden;
	border-style: solid;
	border-color: #ccc;
	border-width: 0 1px 0 0;
}

.dj_ie .dojoxGridxHeaderRowInner{
	/* This is only for IE6/7, if not position:relative, overflow:hidden will not work.*/
	position: relative; 
}

.dojoxGridxHeaderRow table {
/*    border-collapse: collapse;*/
	border-spacing: 0;
	border: none;
	table-layout: fixed;
	width: 1px;
	height: 100%;
}

.dojoxGridxHeaderRow .dojoxGridxCell {
	border-width: 1px;
	border-style: solid;
	border-color: transparent #ccc transparent transparent;
	padding: 3px;
	text-align: left;
/*    overflow: hidden;*/
	/*box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;*/
}

.dojoxGridx .dojoxGridxHeader .dojoxGridxHeaderRow .dojoxGridxHeaderCellFocus {
	border: 1px dashed darkblue;
	outline: medium none;
}

/*Body*/
.dojoxGridxBody {
	height: 100%;
    overflow: hidden;
	position: absolute;
	top: 0;
	box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
}

.dojoxGridxBody :focus {
	outline: none;
}

.dojoxGridxRow {
	/* This will cause row dnd in FF to fail (event.target does not change while dragging) */
	/*overflow: hidden;*/
}

.dojoxGridxRow table {
/*    border-collapse: collapse;*/
	border-spacing: 0;
	border: none;
	table-layout: fixed;
	width: 1px;
	empty-cells: show;
}

.dojoxGridxRow .dojoxGridxCell {
	border-style: solid;
	border-color: transparent #ccc #ccc transparent;
	border-width: 1px;
	padding: 3px;
	text-align: left;
	overflow: hidden;
	/*box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;*/
}

.dojoxGridxRowDummy {
	height: 24px;
	width: 100%;
	background: url('images/loadingAnimation.gif') no-repeat left;
	/*background-color: green;
	border-top: 1px solid red;*/
}

.dojoxGridx .dojoxGridxCellFocus {
	border: 1px dashed darkblue;
}

.dojoxGridxBodyEmpty {
	width: 100%;
	height: 100px;
	padding: 30px 0;
	text-align: center;
	
}

/*HScroller*/
.dojoxGridxHScroller {
	overflow: scroll;
	overflow-y: hidden;
	border: none;
	outline: none;
}

/* ie6 will show the wrong height */
.dj_ie6 .dojoxGridxHScroller {
	line-height: 0;
}


/*VScroller*/
.dojoxGridxVScroller {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: scroll; 
	overflow-x: hidden; 
	border: none;
	height: 100%;
	outline: none;
}

/* in IE7/6 the scroller node can not show automatically */
.dj_ie7 .dojoxGridxVScroller,
.dj_ie6 .dojoxGridxVScroller {
	width: 16px;
}

/*RowHeader*/
.dojoxGridxRowHeaderHeader,
.dojoxGridxRowHeaderBody {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid #E5DAC8;
}

.dojoxGridxRowHeaderBody table {
	width: 100%;
}

.dojoxGridxRowHeaderRow {
	background: url("../images/header.png") #EDF2F7 repeat-x bottom;
	background: -moz-linear-gradient(top, #EDF2F7, #D0DFEA);
	background: -webkit-gradient(linear, left top, left bottom, from(#EDF2F7), to(#D0DFEA));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEDF2F7, endColorstr=#FFD0DFEA);
}
	
.dojoxGridxRowHeaderCell {
	border-bottom: 1px solid #E5DAC8;
}

/* Firefox can not fire onmouseover when mouse is "dragging" an "overflow: hidden" node. 
 * This fix is for IndirectSelect working with ExtendedSelect only */
.dj_gecko .dojoxGridx .dojoxGridxRowHeaderBody .dojoxGridxRowHeaderRow .dojoxGridxRowHeaderCell .dijitCheckBox {
	overflow: visible;
}


/*Column Resizer*/
/*Column resizing plugin*/
.dojoxGridxColumnResizing {
	cursor: e-resize;
}

.dojoxGridxColumnResizer {
	position: absolute;
	height: 100%;
	width: 2px;
	background-color: #666;
	z-index: 1000;
	top: 0;
}

/*CellDijit*/
.dojoxGridxCellWidget {
	width: 100%;
	height: 100%;
}

