.dojoxGridxFilterDialog .dijitAccordionContainer .dijitAccordionContainer-child {
	padding: 6px 9px;
}

.dojoxGridxFilterDialog .dojoxGridxFilterAccordionWrapper {
	height: 227px;
	width: 300px;
	overflow: auto;
	margin: 5px 0 15px 0;
}

.dojoxGridxFilterDialog .dojoxGridxFilterDialogButtons {
	text-align: right;
}


.dojoxGridxFilterDialog .dojoxGridxFilterDialogButtons .dojoxGridxFilterDialogBtnAdd {
	float:left;
	margin-top: -10px;
}

.dojoxGridxFilterDialog .dijitAccordionTitleFocus{
	margin-right: 16px;
}

.dojoxGridxFilterDialog .dijitAccordionTitleFocus .dijitAccordionText {
	display: block;
}

.dojoxGridxFilterDialog .dijitAccordionTitleFocus .dijitAccordionArrow {
	display: none;
}

.dojoxGridxFilterPaneForm {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 10px;
}

.dojoxGridxFilterPaneForm .dijitSelect{
	margin: 0;
}

.dojoxGridxFilterPaneForm li {
	margin: 0;
	padding: 0px;
	list-style: none;
	width:98%;
}

.dojoxGridxFilterPaneForm .dijitSelect,
.dojoxGridxFilterPaneForm .dijitTextBox,
.dojoxGridxFilterPaneForm .dijitComboBox {
	font-size: 12px;
}

.dojoxGridxFilterPaneCloseButton {
	float: right;
}

.dojoxGridxFilterPaneCloseButton img {
	background: transparent url(images/sprite_icons.png) no-repeat -198px -18px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dojoxGridxFilterPaneCloseButton img:hover {
	background-position: -198px 2px;
}

.dojoxGridxFilterSingleRule .dojoxGridxFilterPaneCloseButton {
	display: none;
}

.dojoxGridxFilterBtnAddRule {
	background: transparent url(images/sprite_icons.png) no-repeat -218px 2px;
	width: 16px;
	height: 16px;
}

.dojoxGridxFilterBarBtnIcon {
	background: transparent url(images/sprite_icons.png) no-repeat -100px -18px;
	width: 14px;
	height: 14px;
}

.dojoxGridxFilterPaneForm .dojoxGridxFilterPaneFieldWrapper {
	display: none;
}
  
.dojoxGridxFilterPaneText .dojoxGridxFilterPaneTextWrapper,
.dojoxGridxFilterPaneCombo .dojoxGridxFilterPaneComboWrapper,
.dojoxGridxFilterPaneNumber .dojoxGridxFilterPaneNumberWrapper,
.dojoxGridxFilterPaneDate .dojoxGridxFilterPaneDateWrapper,
.dojoxGridxFilterPaneDateRange .dojoxGridxFilterPaneDateRangeWrapper,
.dojoxGridxFilterPaneTime .dojoxGridxFilterPaneTimeWrapper,
.dojoxGridxFilterPaneTimeRange .dojoxGridxFilterPaneTimeRangeWrapper,
.dojoxGridxFilterPaneSelect .dojoxGridxFilterPaneDateSelectWrapper,
.dojoxGridxFilterPaneRadio .dojoxGridxFilterPaneRadioWrapper {
	display: block;
}

.dojoxGridxFilterBar {
	cursor: pointer;
	width: 100%;
	font-family: arial;
}
.dojoxGridxFilterBar a{
	color: #5B83B6;
	text-decoration: none;
}
.dojoxGridxFilterBar a:hover{
	text-decoration: underline;
}
.dojoxGridxFilterBar .dijitButton {
	margin: 0;
	float: left;
}
.dojoxGridxFilterBar .dijitButton .dijitButtonNode {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 2px;
}

.dojoxGridxFilterBarStatus {
	background: #f2f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f9ff 0%, #eaf5ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9ff), color-stop(100%,#eaf5ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f9ff 0%,#eaf5ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f9ff 0%,#eaf5ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f9ff 0%,#eaf5ff 100%); /* IE10+ */
	background: linear-gradient(top,  #f2f9ff 0%,#eaf5ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9ff', endColorstr='#eaf5ff',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #BFD6EB;
    border-top: 1px solid #BFD6EB;
    padding: 1px 0 0 45px;
}

.dojoxGridxFilterBarCloseBtn {
	background: transparent url(images/sprite_icons.png) no-repeat -119px -20px;
	width: 14px;
	height: 14px;
	float: right;
	margin-right: 3px;
	cursor: pointer;
}

.dojoxGridxFilterBarHideCloseBtn .dojoxGridxFilterBarCloseBtn {
	display: none;
}

.dojoxGridxFilterBarCloseBtn:hover {
	background-position: -140px -20px;
}

.dojoxGridxFilterTooltip table {
	border: 1px solid #bbb;
	border-collapse: collapse;
}

.dojoxGridxFilterTooltip table th {
	background-color: #E8EFF4;
	border: 1px solid #bbb;
}


.dojoxGridxFilterTooltip table th, .dojoxGridxFilterTooltip table td {
	padding: 2px 4px;
	height: 16px;
	vertical-align: middle;
}

.dojoxGridxFilterTooltip table .dojoxGridxFilterTooltipValueCell div{
	max-width: 150px;
	position: relative;
	padding-right: 25px;
}

.dojoxGridxFilterTooltip .dojoxGridxFilterTooltipTitle {
	margin-bottom: 8px;
}

.dojoxGridxFilterTooltip .dojoxGridxFilterTooltipRemoveBtn {
	background: transparent url(images/sprite_icons.png) no-repeat -198px -18px;
	width: 16px;
	height: 16px;
	position:absolute;
	right: 0px;
	top: 1px;
	cursor: pointer;
	border: none;
}
.dojoxGridxFilterTooltipSingleRule .dojoxGridxFilterTooltipRemoveBtn {
	visibility: hidden;
}

.dojoxGridxFilterTooltip .dojoxGridxFilterTooltipRemoveBtn:hover {
	background-position: -198px 2px;
}

.dojoxGridxFilterTooltip .dojoxGridxFilterTooltipOddRow {
	background-color: #F1F8FF;
}

.dojoxGridxFilterConfirmDialogButtons {
	text-align: right;
	margin-top: 10px;
}
