th.dojoxGridxRowHeaderHeaderCell,
.dojoxGridxRowHeaderCell {
	text-align: center;
}

.dojoxGridxIndirectSelectionCheckBoxInner {
	display: none;
}

.dijit_a11y .dojoxGridxIndirectSelectionCheckBoxInner {
	display: inline;
}
