.dojoxGridxLeftColumnLockNode {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
}

.dojoxGridxLeftColumnLockHeaderNode table
,.dojoxGridxLeftColumnLockNode table{
	border-right: 2px solid #ddd;
}