.dojoxGridxSortNode {
	/* In FF, this will occasionally cause swipe column selection to fail... */
	/*overflow: hidden;*/
}

.dojoxGridxSortBtn {
	background: transparent url(images/sprite_icons.png) no-repeat -159px 5px;
	float: right;
	cursor: pointer;
	width: 10px;
	display: none;
}

.dojoxGridxSortBtnNested {
	width: 20px;
	background-position: -149px 5px;
}

.dojoxGridxSortBtn:hover,
.dojoxGridxSortBtnFocus {
	background-color: #ddd;
}

.dojoxGridxCellSorted .dojoxGridxSortBtnSingle, 
.dojoxGridxNestedSorted .dojoxGridxCellSorted .dojoxGridxSortBtnNested,

th.dojoxGridxCell:hover .dojoxGridxSortBtnSingle,
.dojoxGridxSingleSorted th.dojoxGridxCell:hover .dojoxGridxSortBtn,
.dojoxGridxNestedSorted th.dojoxGridxCell:hover .dojoxGridxSortBtn,

.dojoxGridxHeader th.dojoxGridxCellSortFocus .dojoxGridxSortBtnSingle,
.dojoxGridxSingleSorted th.dojoxGridxCellSortFocus .dojoxGridxSortBtn,
.dojoxGridxNestedSorted th.dojoxGridxCellSortFocus .dojoxGridxSortBtn,

.dojoxGridxSingleSorted .dojoxGridxHeaderHover .dojoxGridxCellSortedMain .dojoxGridxSortBtnNested,
.dojoxGridxSingleSorted .dojoxGridxHeaderFocus .dojoxGridxCellSortedMain .dojoxGridxSortBtnNested
{
	display: block;
}

.dojoxGridxSingleSorted .dojoxGridxHeader th.dojoxGridxCellSortedMain:hover .dojoxGridxSortBtnNested,
.dojoxGridxSingleSorted .dojoxGridxHeader th.dojoxGridxCellSortedMain.dojoxGridxCellSortFocus .dojoxGridxSortBtnNested,
.dojoxGridxSingleSorted .dojoxGridxHeaderHover th.dojoxGridxCellSortedMain .dojoxGridxSortBtnSingle,
.dojoxGridxSingleSorted .dojoxGridxHeaderFocus th.dojoxGridxCellSortedMain .dojoxGridxSortBtnSingle,
.dojoxGridxNestedSorted .dojoxGridxSortBtnSingle {
	display: none;
}

.dojoxGridxSingleSorted .dojoxGridxHeaderHover .dojoxGridxCellSortedMain:hover .dojoxGridxSortBtnSingle,
.dojoxGridxSingleSorted .dojoxGridxHeaderFocus .dojoxGridxCellSortedMain.dojoxGridxCellSortFocus .dojoxGridxSortBtnSingle {
	display: block;
}

th.dojoxGridxCell:hover .dojoxGridxSortBtn,
th.dojoxGridxCellSortFocus .dojoxGridxSortBtn {
	border-left: 1px solid #bbb;
}
.dojoxGridxCellSortedAsc .dojoxGridxSortBtnSingle {
	background-position: -120px 5px;
}
.dojoxGridxCellSortedAsc .dojoxGridxSortBtnNested {
	background-position: -110px 5px;
}
.dojoxGridxCellSortedDesc .dojoxGridxSortBtnSingle {
	background-position: -100px 5px;
}
.dojoxGridxCellSortedDesc .dojoxGridxSortBtnNested {
	background-position: -90px 5px;
}
th.dojoxGridxCell:hover.dojoxGridxCellSortedAsc .dojoxGridxSortBtnSingle,
th.dojoxGridxCellSortFocus.dojoxGridxCellSortedAsc .dojoxGridxSortBtnSingle {
	background-position: -140px 5px;
}
th.dojoxGridxCell:hover.dojoxGridxCellSortedAsc .dojoxGridxSortBtnNested,
th.dojoxGridxCellSortFocus.dojoxGridxCellSortedAsc .dojoxGridxSortBtnNested {
	background-position: -130px 5px;
}
th.dojoxGridxCell:hover.dojoxGridxCellSortedDesc .dojoxGridxSortBtnSingle,
th.dojoxGridxCellSortFocus.dojoxGridxCellSortedDesc .dojoxGridxSortBtnSingle {
	background-position: -180px 5px;
}
th.dojoxGridxCell:hover.dojoxGridxCellSortedDesc .dojoxGridxSortBtnNested,
th.dojoxGridxCellSortFocus.dojoxGridxCellSortedDesc .dojoxGridxSortBtnNested {
	background-position: -170px 5px;
}
.dojoxGridxNestedSorted th.dojoxGridxCell:hover .dojoxGridxSortBtnSingle,
.dojoxGridxNestedSorted th.dojoxGridxCellSortFocus .dojoxGridxSortBtnSingle {
	background-position: -159px 5px;
}





