/* pagination bar */
.dojoxGridxPager table {
	width: 100%;
	table-layout: auto;
}

.dojoxGridxPagerA11yInner {
	visibility: hidden;
}

.dijit_a11y .dojoxGridxPagerA11yInner {
	visibility: visible;
}

.dojoxGridxPagerStepperBtn,	
.dojoxGridxPagerSizeSwitchBtn {
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.dojoxGridxPagerStepperBtnActive,
.dojoxGridxPagerSizeSwitchBtnActive {
	cursor: default;
}

.dojoxGridxPagerFirstPage,
.dojoxGridxPagerPrevPage,
.dojoxGridxPagerNextPage,
.dojoxGridxPagerLastPage,
.dojoxGridxPagerGotoBtn {
	background: url("images/sprite_icons.png"); 
}

.dojoxGridxPagerFirstPage {
	background-position: -58px 4px;
}
.dojoxGridxPagerFirstPageDisable {
	background-position: -58px -16px;
	cursor: default;
}

.dojoxGridxPagerPrevPage {
	background-position: 3px 4px;
}
.dojoxGridxPagerPrevPageDisable {
	background-position: 3px -16px;
	cursor: default;
}

.dojoxGridxPagerNextPage {
	background-position: -16px 4px;
}
.dojoxGridxPagerNextPageDisable {
	background-position: -16px -16px;
	cursor: default;
}

.dojoxGridxPagerLastPage {
	background-position: -38px 4px;
}
.dojoxGridxPagerLastPageDisable {
	background-position: -38px -16px;
	cursor: default;
}

.dojoxGridxPagerDescription {
	text-align: left;
	width: 33%;
}

.dojoxGridxPagerStepper {
	text-align: center;
	width: 33%;
}

.dojoxGridxPagerSizeSwitch {
	text-align: right;
}

.dojoxGridxPagerGoto {
	width: 20px;
	text-align: right;
}

.dojoxGridxPagerGotoBtn {
	background-position: -77px 4px;
	cursor: pointer;
}

/* Goto Page Dialog */
.dojoxGridxGotoPage td {
	padding-bottom: 5px;
}

.dojoxGridxGotoPage .dojoxGridxGotoPageBtns {
	padding-bottom: 0;
	text-align: right;
}

.dojoxGridxGotoPage .dojoxGridxGotoPageInputBox {
	width: 100px;
}

.dojoxGridxGotoPage .dojoxGridxPageCountMsg {
	padding-left: 5px;
}

/*DD*/
.dojoxGridxPagerStepperWidget,
.dojoxGridxPagerSizeSwitchWidget {
	width: 60px;
}
