.dojoxGridxRowHeaderHeader,
.dojoxGridxRowHeaderBody {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid #E5DAC8;
}

.dojoxGridxRowHeaderBody table {
	width: 100%;
}

.dojoxGridxRowHeaderRow {
	background: url("../images/header.png") #EDF2F7 repeat-x bottom;
	background: -moz-linear-gradient(top, #EDF2F7, #D0DFEA);
	background: -webkit-gradient(linear, left top, left bottom, from(#EDF2F7), to(#D0DFEA));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEDF2F7, endColorstr=#FFD0DFEA);
}
	
.dojoxGridxRowHeaderCell {
	overflow: hidden;
	border-bottom: 1px solid #E5DAC8;
}
