/* row select */
.dojoxGridxRowSelected td {
	background-color: #BFD6EB;
}
.dojoxGridxFocusedRow {
	border: 1px solid red;
}

/* column select */
.dojoxGridxRow .dojoxGridxColumnSelected {
	background-color: #BFD6EB;
}
/* cell select */
.dojoxGridxCellSelected {
	background-color: #BFD6EB;
}
