/* row select */
.dojoxGridxRowSelected td {
	background-color: #BFD6EB;
}
.dojoxGridxFocusedRow {
	border: 1px solid red;
}

/* column select */
.dojoxGridxRow .dojoxGridxColumnSelected {
	background-color: #BFD6EB;
}
/* cell select */
.dojoxGridxCellSelected {
	background-color: #BFD6EB;
}


/*IndirectSelection*/
th.dojoxGridxRowHeaderHeaderCell,
.dojoxGridxRowHeaderCell {
	text-align: center;
}

.dojoxGridxIndirectSelectionCheckBoxInner {
	display: none;
}

.dijit_a11y .dojoxGridxIndirectSelectionCheckBoxInner {
	display: inline;
}
