/* Single Sort */
.dojoxGridxSortNode {
	text-decoration:none;
	display:block;
}
.dojoxGridxArrowButtonChar {
	display:none;
	float:right;
}
.dojoxGridxArrowButtonNode {
	background:transparent url("images/spriteArrows.png") no-repeat scroll left center;
	display:block;
	float:right;
	height:1em;
	margin:2px 4px 0 5px;
	padding-left:0;
	width:7px;
}
.dojoxGridxSortUp .dojoxGridxArrowButtonNode {
	background-position:-21px 50%;
}

