.dojoxGridxVScroller {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: scroll; 
	overflow-x: hidden; 
	border: none;
	height: 100%;
	outline: none;
}

/* in IE7/6 the scroller node can not show automatically */
.dj_ie7 .dojoxGridxVScroller,
.dj_ie6 .dojoxGridxVScroller {
	width: 16px;
}
