<form action="./" onsubmit='return false;' data-dojo-attach-event='onsubmit: _onSubmit'
	><label id="${id}_MatchOptionLabel" for="${id}_MatchOptionSelect">${module.nls.relationMsgFront} </label
	><select id="${id}_MatchOptionSelect"
		aria-labelledby="${id}_MatchOptionLabel"
		data-dojo-type="${module.selectClass}"
		data-dojo-attach-point='_sltMatch'
		><option value="all">${module.nls.relationAll}</option
		><option value="any">${module.nls.relationAny}</option
	></select
	><div class="gridxFilterAccordionWrapper"
		><div data-dojo-type="${module.accordionContainerClass}"
			data-dojo-attach-point='_accordionContainer'
			data-dojo-attach-event='removeChild: _onRemoveRule'
		></div
	></div
	><div class="gridxFilterDialogButtons"
		><input type="button" class="gridxFilterDialogBtnAdd"
			data-dojo-type="${module.buttonClass}"
			data-dojo-attach-point='_btnAdd'
			data-dojo-attach-event='onClick: addRule'
			data-dojo-props='
				showLabel: false,
				iconClass: "gridxFilterBtnAddRule",
				label: "${module.nls.addRuleButton}"
		'/><input type="submit"
			data-dojo-type="${module.buttonClass}"
			data-dojo-attach-point='_btnFilter'
			data-dojo-props='
				label: "${module.nls.filterButton}"
		'/><input type="button"
			data-dojo-type="${module.buttonClass}"
			data-dojo-attach-point='_btnClear'
			data-dojo-attach-event='onClick: clear'
			data-dojo-props='
				label: "${module.nls.clearButton}"
		'/><input type="button"
			data-dojo-type="${module.buttonClass}"
			data-dojo-attach-point='_btnCancel'
			data-dojo-attach-event='onClick: hide'
			data-dojo-props='
				label: "${module.nls.cancelButton}"
	'/></div
></form>
