<div class="gridxFilterPaneForm">
	<span data-dojo-type="${module.selectClass}"
		id="${id}_ColumnSelect"
		aria-labelledby="${id}_ColumnLabel"
		class="gridxFilterPaneColumnSelect"
		style="width: 200px"
		data-dojo-attach-point='sltColumn'
		data-dojo-attach-event='onChange: _onColumnChange'
	></span>
	<span data-dojo-type="${module.selectClass}"
		id="${id}_ConditionSelect"
		aria-labelledby="${id}_ConditionLabel"
		class="gridxFilterPaneConditionSelect"
		style="width: 150px"
		data-dojo-attach-point='sltCondition'
		data-dojo-attach-event='onChange: _onConditionChange'
	></span>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneTextWrapper">
		<input type="text"
			data-dojo-type="${module.textBoxClass}"
			style=""
			aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='tbSingle'
			data-dojo-props="
			intermediateChanges: true
		"/>
	</div>

<!--            dropDownClass="gridx.modules.filter.DistinctComboBoxMenu"-->
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneComboWrapper">
		<input type="text" data-dojo-type="${module.comboBoxClass}" style="" aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='comboText'
			data-dojo-props="
			intermediateChanges: true,
			autoComplete: false,
			queryExpr: '*${module.nls.startsWithExpr}'
		"/>
	</div>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneNumberWrapper">
		<input type="text" data-dojo-type="${module.numberTextBoxClass}" style="" aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='tbNumber'
			data-dojo-props="
			intermediateChanges: true
		"/>
	</div>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneDateWrapper">
		<span data-dojo-type="${module.dateTextBoxClass}" aria-labelledby="${id}_ValueLabel" style=""
			data-dojo-attach-point='dtbSingle'
			data-dojo-props="
			intermediateChanges: true
		"></span>
	</div>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneDateRangeWrapper">
		<span data-dojo-type="${module.dateTextBoxClass}" style="" aria-label="${module.nls.beginDateRangeLabel}"
			data-dojo-attach-point='dtbStart'
			data-dojo-props="
			intermediateChanges: true
		"></span>
		<span data-dojo-type="${module.dateTextBoxClass}" style="" aria-label="${module.nls.endDateRangeLabel}"
			data-dojo-attach-point='dtbEnd'
			data-dojo-props="
			intermediateChanges: true
		"></span>
	</div>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneTimeWrapper">
		<span data-dojo-type="${module.timeTextBoxClass}" aria-labelledby="${id}_ValueLabel" style=""
			data-dojo-attach-point='ttbSingle'
			data-dojo-props="
			intermediateChanges: true
		"></span>
	</div>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneTimeRangeWrapper">
		<span data-dojo-type="${module.timeTextBoxClass}" style="" aria-label="${module.nls.beginTimeRangeLabel}"
			data-dojo-attach-point='ttbStart'
			data-dojo-props="
			intermediateChanges: true
		"></span>
		<span data-dojo-type="${module.timeTextBoxClass}" style="" aria-label="${module.nls.endTimeRangeLabel}"
			data-dojo-attach-point='ttbEnd'
			data-dojo-props="
			intermediateChanges: true
		"></span>
	</div>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneRadioWrapper">
		<span style="">
			<span data-dojo-type="${module.radioButtonClass}" aria-label="${module.nls.radioTrueLabel}"
				data-dojo-attach-point='rbTrue'
				checked="true"></span><span>${module.nls.trueLabel}</span>
		</span>
		<span style="">
			<span data-dojo-type="${module.radioButtonClass}" aria-label="${module.nls.radioFalseLabel}"
				data-dojo-attach-point='rbFalse'
			></span><span>${module.nls.falseLabel}</span>
		</span>
	</div>
	
	<div class="gridxFilterPaneFieldWrapper gridxFilterPaneSelectWrapper">
		<span data-dojo-type="${module.selectClass}" aria-labelledby="${id}_ValueLabel"
			data-dojo-attach-point='sltSingle'
			style=""></span>
	</div>

	<input type="button" class="gridxFilterPaneRemoveBtn" data-dojo-type="${module.buttonClass}"
		data-dojo-attach-event='onClick: close'
		data-dojo-props="
		showLabel: false,
		iconClass: 'gridxFilterPaneRemoveBtnIcon',
		label: '${module.nls.removeRuleButton}'
	"/>
	<input type="button" class="gridxFilterPaneAddBtn" data-dojo-type="${module.buttonClass}"
		data-dojo-attach-event='onClick: _insertRule'
		data-dojo-props="
		showLabel: false,
		iconClass: 'gridxFilterPaneAddBtnIcon',
		label: '${module.nls.addRuleButton}'
	"/>
</div>
