<form action="./" onsubmit="return false;" data-dojo-attach-event='onsubmit: _onSubmit'
	><label id="${id}_MatchOptionLabel" for="${id}_MatchOptionSelect">${module.nls.relationMsgFront}</label
	><select data-dojo-type="${module.selectClass}"
		data-dojo-attach-point='_sltMatch'
		id="${id}_MatchOptionSelect"
		aria-labelledby="${id}_MatchOptionLabel"
		><option value="all">${module.nls.relationAll}</option
		><option value="any">${module.nls.relationAny}</option
	></select
	><div class="gridxFilterRulesLabel">${module.nls.rules}</div
	><div class="gridxFilterRules"
		data-dojo-attach-point='_ruleContainer'
	></div
	><div class="gridxFilterDialogButtons"
		><input type="submit"
			data-dojo-type="${module.buttonClass}"
			data-dojo-attach-point='_btnFilter'
			data-dojo-props='
				label: "${module.nls.filterButton}"
		' /><input type="button"
			data-dojo-type="${module.buttonClass}"
			data-dojo-attach-point='_btnClear'
			data-dojo-attach-event='onClick: clear'
			data-dojo-props='
				label: "${module.nls.clearButton}"
		' /><input type="button"
			data-dojo-type="${module.buttonClass}"
			data-dojo-attach-point='_btnCancel'
			data-dojo-attach-event='onClick: hide'
			data-dojo-props='
				label: "${module.nls.cancelButton}"
	' /></div
></form>
