<label>Match </label>
<select dojoType="dijit.form.Select">
	<option value="all">All rules</option>
	<option value="any">Any rules</option>
</select>

<div class="gridxFilterAccordionWrapper">
	<div dojoType="dijit.layout.AccordionContainer"></div>
</div>

<div class="gridxFilterDialogButtons">
	<input type="button" class="gridxFilterDialogBtnAdd" dojoType="dijit.form.Button" showLabel="false" iconClass="gridxFilterBtnAddRule"/>
	<input type="button" dojoType="dijit.form.Button" label="Filter"/>
	<input type="button" dojoType="dijit.form.Button" label="Clear"/>
	<input type="button" dojoType="dijit.form.Button" label="Cancel"/>
</div>