<div class='gridxGotoPage'
	><table><tbody
		><tr><td class='gridxGotoPageMainMsg'>
		${gotoDialogMainMsg}
		</td></tr
		><tr><td class='gridxGotoPageInput'
			><input dojoType='${numberTextBoxClass}'
				class='gridxGotoPageInputBox'
				dojoAttachPoint='pageInputBox'
				dojoAttachEvent='onKeyUp: _updateStatus'></input
			><span
				class='gridxPageCountMsg'
				dojoAttachPoint='pageCountMsgNode'></span
		></td></tr
		><tr><td class='gridxGotoPageBtns'
			><button dojoType='${buttonClass}' 
				dojoAttachPoint='okBtn'
				dojoAttachEvent='onClick: _onOK'>
				${gotoDialogOKBtn}
			</button
			><button dojoType='${buttonClass}'
				dojoAttachEvent='onClick: _onCancel'>
				${gotoDialogCancelBtn}
			</button
		></td></tr
	></tbody></table
></div>
