<div class="gridx" role="grid" tabindex="0">
	<div class="gridxHeader" role="presentation" dojoAttachPoint="headerNode"></div>
	<div class="gridxMain" role="presentation" dojoAttachPoint="mainNode">
		<div class="gridxBodyEmpty" dojoAttachPoint="emptyNode"></div>
		<div class="gridxBody" role="presentation" dojoAttachPoint="bodyNode"></div>
		<div class="gridxVScroller" dojoAttachPoint="vScrollerNode"><div style="width:1px; height: 1px;"></div></div>
		<div class="clear"></div>
	</div>
	<div class="gridxFooter" dojoAttachPoint="footerNode">
		<div class="gridxHScroller">
			<div class="gridxHScroller" dojoAttachPoint="hScrollerNode"><div style="width:1px;height: 1px"></div></div>
		</div>
	</div>
	<span dojoAttachPoint="lastFocusNode" tabindex="0"></span>
</div>
