html, body {
	height: 100%; width: 100%; padding: 0; border: 0;
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 0.85em !important;
}
#main { height: 100%; width: 100%; border: 0; }
#header { margin: 0; }
#loader {
	padding:0;
	margin:0;
	position:absolute; 
	top:0; left:0; 
	width:100%; height:100%;  
	background:#efefef;
	opacity: 0.98; 
	z-index:999;
	vertical-align:middle;
}
#loaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	background-image: url('images/loader_lg.gif');
	background-repeat: no-repeat;
}
#printBlock { display: none; }
.spacer { border:0; background-color:#ededed; width:80%; height:1px; } 
/*  Override dijit.layout.ContentPane's loadingMessage style. */
#content .dijitContentPaneLoading {
	position: absolute;
	display: block;
	text-indent: -5000px;
	direction: ltr;
	top: 50%;
	left: 50%;
	background-repeat: no-repeat;
	/* large loader image */
	/*
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;
	background-image: url("/images/loader_lg.gif");
	*/
	/* medium loader image */
	width: 24px;
	height: 24px;
	margin-top: -12px;
	margin-left: -12px;
	background-image: url("images/loader_md.gif");
	/* small loader image */
	/*
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	background-image: url("images/loader_sm.gif");
	*/
}

h2.jsdoc-summary-heading {
	cursor: pointer;
}
h2.jsdoc-summary-heading span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("icons/16x16/collapse-sprite.png");
	background-repeat: no-repeat;
	background-position: -16px 0;
}
h2.jsdoc-summary-heading .closed {
	background-position: 0 0;
}

/* Clear Styling */

pre code {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.arrayIcon,
.arrayIcon16{ background-image:url('icons/16x16/array.png'); }
.booleanIcon,
.booleanIcon16{ background-image:url('icons/16x16/boolean.png'); }
.constructorIcon,
.constructorIcon16{ background-image:url('icons/16x16/constructor.png'); }
.dateIcon,
.dateIcon16{ background-image:url('icons/16x16/date.png'); }
.domnodeIcon,
.domnodeIcon16{ background-image:url('icons/16x16/domnode.png'); }
.errorIcon,
.errorIcon16{ background-image:url('icons/16x16/error.png'); }
.functionIcon,
.functionIcon16{ background-image:url('icons/16x16/function.png'); }
.namespaceIcon,
.namespaceIcon16{ background-image:url('icons/16x16/namespace.png'); }
.numberIcon,
.numberIcon16{ background-image:url('icons/16x16/number.png'); }
.objectIcon,
.objectIcon16{ background-image:url('icons/16x16/object.png'); }
.regexpIcon,
.regexpIcon16{ background-image:url('icons/16x16/regexp.png'); }
.singletonIcon,
.singletonIcon16{ background-image:url('icons/16x16/singleton.png'); }
.stringIcon,
.stringIcon16{ background-image:url('icons/16x16/string.png'); }

.icon16{ width: 16px; height: 16px; }

.icon24{ width: 24px; height: 24px; }
.arrayIcon24{ background-image:url('icons/24x24/array.png'); }
.booleanIcon24{ background-image:url('icons/24x24/boolean.png'); }
.constructorIcon24{ background-image:url('icons/24x24/constructor.png'); }
.dateIcon24{ background-image:url('icons/24x24/date.png'); }
.domnodeIcon24{ background-image:url('icons/24x24/domnode.png'); }
.errorIcon24{ background-image:url('icons/24x24/error.png'); }
.functionIcon24{ background-image:url('icons/24x24/function.png'); }
.namespaceIcon24{ background-image:url('icons/24x24/namespace.png'); }
.numberIcon24{ background-image:url('icons/24x24/number.png'); }
.objectIcon24{ background-image:url('icons/24x24/object.png'); }
.regexpIcon24{ background-image:url('icons/24x24/regexp.png'); }
.singletonIcon24{ background-image:url('icons/24x24/singleton.png'); }
.stringIcon24{ background-image:url('icons/24x24/string.png'); }

.icon36{ width: 36px; height: 36px; }
.arrayIcon36{ background-image:url('icons/36x36/array.png'); }
.booleanIcon36{ background-image:url('icons/36x36/boolean.png'); }
.constructorIcon36{ background-image:url('icons/36x36/constructor.png'); }
.dateIcon36{ background-image:url('icons/36x36/date.png'); }
.domnodeIcon36{ background-image:url('icons/36x36/domnode.png'); }
.errorIcon36{ background-image:url('icons/36x36/error.png'); }
.functionIcon36{ background-image:url('icons/36x36/function.png'); }
.namespaceIcon36{ background-image:url('icons/36x36/namespace.png'); }
.numberIcon36{ background-image:url('icons/36x36/number.png'); }
.objectIcon36{ background-image:url('icons/36x36/object.png'); }
.regexpIcon36{ background-image:url('icons/36x36/regexp.png'); }
.singletonIcon36{ background-image:url('icons/36x36/singleton.png'); }
.stringIcon36{ background-image:url('icons/36x36/string.png'); }

/* jsdoc styling */
a { color: #47a; }
h1.arrayIcon36,
h1.booleanIcon36,
h1.constructorIcon36,
h1.dateIcon36,
h1.domnodeIcon36,
h1.errorIcon36,
h1.functionIcon36,
h1.namespaceIcon36,
h1.numberIcon36,
h1.objectIcon36,
h1.regexpIcon36,
h1.singletonIcon36,
h1.stringIcon36 {
	padding-left: 40px;
	background-repeat: no-repeat;
	min-height: 36px;
}

span.arrayIcon,
span.booleanIcon,
span.constructorIcon,
span.dateIcon,
span.domnodeIcon,
span.errorIcon,
span.functionIcon,
span.namespaceIcon,
span.numberIcon,
span.objectIcon,
span.regexpIcon,
span.singletonIcon,
span.stringIcon {
	display: inline-block;
	padding-left: 20px;
	background-repeat: no-repeat;
}

div.jsdoc-toolbar {
	margin: -8px -8px 12px -8px;
	padding: 4px 4px 0 4px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #e5e3cf;
	height: 32px;
}
div.jsdoc-toolbar .jsdoc-permalink {
	position: absolute;
	top: 10px;
	left: 10px;
}
div.jsdoc-toolbar .trans-icon {
	position: absolute;
	top: 4px;
	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

/* for icons next to each property and method */
.jsdoc-private, .jsdoc-extension, .jsdoc-inherited {
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 0.5;   /* so icons don't stand out so much */
}
.jsdoc-private {
    background-image: url("icons/16x16/private.png")
}
.jsdoc-extension {
    background-image: url("icons/16x16/extension.png")
}
.jsdoc-inherited {
    background-image: url("icons/16x16/inherited.png")
}

/* toolbar, to show/hide private, inherited, and extension properties */
div.jsdoc-toolbar .jsdoc-private {
    background-image: none;     /* done via actual <img> tag instead */
    right: 28px;
}
div.jsdoc-toolbar .jsdoc-extension {
    background-image: none;     /* done via actual <img> tag instead */
    right: 52px;
}
div.jsdoc-toolbar .jsdoc-public,
div.jsdoc-toolbar .jsdoc-inherited {
    background-image: none;     /* done via actual <img> tag instead */
    right: 4px;
}
div.jsdoc-toolbar label {
	position: absolute;
	top: 10px;
	right: 84px;
}
div.jsdoc-toolbar * {
    opacity:1;
}
div.jsdoc-toolbar .off {
	opacity: 0.25;
}

h1.jsdoc-title{ 
	font-size: 2.5em;
	margin: 0.35em 0;
	font-weight: normal;
}
h1.jsdoc-title img {
	float: left;
	padding-right: 0.25em;
}

div.jsdoc-prototype,
div.jsdoc-mixins,
.jsdoc-inheritance {
	font-size: 0.8em;
}
div.jsdoc-prototype a,
div.jsdoc-mixins a,
.jsdoc-inheritance a {
	text-decoration: none;
}
div.jsdoc-prototype a:hover,
div.jsdoc-mixins a:hover,
.jsdoc-inheritance a:hover {
	text-decoration: underline;
}
span.jsdoc-inheritance {
	display: inline-block;
	margin-left: 1.5em;
	font-weight: normal;
}
div.jsdoc-require,
span.jsdoc-comment-type,
span.jsdoc-return-type {
	font-family: Consolas, Courier New, Courier, monospace;
	font-weight: normal;
}
span.parameters{ font-weight: normal; }
span.jsdoc-comment-type,
span.jsdoc-return-type {
	color: #963;
}
div.jsdoc-require {
	margin: 1em 0;
}
div.jsdoc-full-summary {
	margin: 1em 0;
}

div.jsdoc-children {
	padding-bottom: 1.5em;
}

div.jsdoc-children div.jsdoc-field-list h2,
div.jsdoc-children div.jsdoc-fields h2 {
	font-size: 1.25em;
	border-bottom: 1px solid #e5e3cf;
	margin: 1.5em -5px 0.5em -5px;
	padding: 0.25em;
}
div.jsdoc-children div.jsdoc-fields h2 {
	font-weight: normal;
	font-size: 1.5em;
	background-color: #f2f2f2;
}

div.jsdoc-children div.jsdoc-field-list div.jsdoc-field {
	margin: 0.5em 0;
	clear: both;
}
div.jsdoc-children div.jsdoc-fields div.jsdoc-field {
	padding: 1em 0;
	clear: both;
	border-bottom: 1px dotted #ccc;
}
div.jsdoc-children .odd {
	background-color: #f8f8f8;
}

div.jsdoc-field div.jsdoc-title {
	font-weight: bold;
}

div.jsdoc-field div.jsdoc-title span img {
	float: left;
	padding-right: 4px;
}

div.jsdoc-field div.jsdoc-return-type {
	font-size: 0.95em;
	padding: 0.25em;
}
.jsdoc-return-description {
    margin-top: 0.5em;
}
.jsdoc-summary {
	margin: 1em 0;
}

table.jsdoc-parameters {
	font-size: 1em;
	width: auto;
	margin: 1em 0;
	border-collapse: collapse;
}
table.jsdoc-parameters th,
table.jsdoc-parameters td {
	padding: 0.25em 0.5em;
	text-align: left;
	vertical-align: top;
	border: 1px solid #999;
}
table.jsdoc-parameters th {
	background-color: #eee;
	font-weight: bold;
}
table.jsdoc-parameters td {
	background-color: #fff;
}
table.jsdoc-parameters .jsdoc-param-description p {
	margin: 0;
}

div.jsdoc-fields .jsdoc-example {
	margin-top: 1em;
}

/* A redo of the summary lists as UL/LI elements */
div.jsdoc-summary-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
div.jsdoc-summary-list ul li {
	background-repeat: no-repeat;
	padding-left: 20px;
	margin: 0.5em 0;
}
div.jsdoc-summary-list ul li a {
	font-weight: bold;
}
div.jsdoc-summary-list ul li span {
	font-size: 0.9em;
}
div.jsdoc-summary-list ul li span.parameters {
	font-size: 1em;
}
div.jsdoc-summary-list ul li .jsdoc-returns {
	font-weight: bold;
}
