{
"asi": false,          // if automatic semicolon insertion should be tolerated
"bitwise": false,      // if bitwise operators should not be allowed
"boss": true,          // if advanced usage of assignments should be allowed
"browser": false,      // if the standard browser globals should be predefined
"couch": false,        // if CouchDB globals should be predefined
"curly": true,         // if curly braces around all blocks should be required
"debug": false,        // if debugger statements should be allowed
"devel": true,         // if logging globals should be predefined (console,
                       // alert, etc.)
"dojo": true,          // if Dojo Toolkit globals should be predefined
"eqeqeq": true,        // if === should be required
"eqnull": true,        // if == null comparisons should be tolerated
"es5": true,           // if ES5 syntax should be allowed
"evil": true,          // if eval should be allowed
"expr": true,          // if ExpressionStatement should be allowed as Programs
"forin": true,         // if for in statements must filter
"globalstrict": false, // if global "use strict"; should be allowed (also
                       // enables 'strict')
"immed": true,         // if immediate invocations must be wrapped in parens
"iterator": true,      // if the `__iterator__` property should be disallowed
"jquery": false,       // if jQuery globals should be predefined
"lastsemic": false,    // if semicolons may be ommitted for the trailing
                       // statements inside of a one-line blocks.
"latedef": false,      // if the use before definition should not be tolerated
"laxbreak": true,      // if line breaks should not be checked
"loopfunc": true,      // if functions should be allowed to be defined within
                       // loops
"maxerr": 32767,       // how many errors should be allowed to occur before
                       // processing is cancelled
"mootools": false,     // if MooTools globals should be predefined
"newcap": true,        // if constructor names must be capitalized
"noarg": true,         // if arguments.caller and arguments.callee should be
                       // disallowed
"node": true,          // if the Node.js environment globals should be
                       // predefined
"noempty": false,      // if empty blocks should be disallowed
"nonew": true,         // if using `new` for side-effects should be disallowed
"nonstandard": false,  // if non-standard (but widely adopted) globals should
                       // be predefined
"nomen": false,        // if names should be checked
"onevar": false,       // if only one var statement per function should be
                       // allowed
"onecase": false,      // if one case switch statements should be allowed
"passfail": false,     // if the scan should stop on first error
"plusplus": false,     // if increment/decrement should not be allowed
"proto": true,         // if the `__proto__` property should be disallowed
"prototypejs": false,  // if Prototype and Scriptaculous globals should be
                       // predefined
"regexdash": true,     // if unescaped last dash (-) inside brackets should be
                       // tolerated
"regexp": false,       // if the . should not be allowed in regexp literals
"rhino": true,         // if the Rhino environment globals should be predefined
"undef": true,         // if variables should be declared before used
"scripturl": true,     // if script-targeted URLs should be tolerated
"shadow": false,       // if variable shadowing should be tolerated
"strict": false,       // require the "use strict"; pragma
"sub": true,           // if all forms of subscript notation are tolerated
"supernew": true,      // if `new function () { ... };` and `new Object;`
                       // should be tolerated
"trailing": true,      // if trailing whitespace rules apply
"validthis": true,     // if 'this' inside a non-constructor function is valid.
                       // This is a function scoped option only.
"white": true,         // if strict whitespace rules apply
"wsh": false           // if the Windows Scripting Host environment globals
                       // should be predefined
}
