/* row select */
.claro .gridxRowSelected .gridxRowTable {
	background:url("../images/row_back.png") #cee6fa repeat-x;
}

/* column select */
.claro .gridxRow .gridxColumnSelected {
	background:url("../images/row_back.png") #cee6fa repeat-x;
}
/* cell select */
.claro .gridxCellSelected {
	background:url("../images/row_back.png") #cee6fa repeat-x;
}
